src/flows/NBA_In_Network_Influencing_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email</description>
        <name>Email_Send</name>
        <label>Email Send</label>
        <locationX>836</locationX>
        <locationY>55</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hello  Thanks for contacting VSP! To follow up on our conversation, I want to share a that savemorewithvsp.com includes several different offers that you can take advantage of when you visit an In-Network Premier Program location.  Thanks for being a VSP member!  The text “Savemorewithvsp.com” should be a hyperlink to http://savemorewithvsp.com The text &quot;In-Network Premier Program Location&quot; should be a hyperlink to https://www.vsp.com/offers/bonus-offers</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Email1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>This is my subject </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yess</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Do_you_want_email</name>
        <label>Do you want email</label>
        <locationX>418</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Y_N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yess</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Great_What_s_your_email_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Y_N</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_Update_No</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>NBA - In-Network Influencing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NBA - In-Network Influencing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>User_Flow_Tracking_Record</name>
        <label>User Flow Tracking Record</label>
        <locationX>287</locationX>
        <locationY>50</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>Do_you_want_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <stringValue>In-Network Influencing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordUpdates>
        <name>User_Flow_Tracking_Record_Update_No</name>
        <label>User Flow Tracking Record Update No</label>
        <locationX>426</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>No3</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>No</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>User_Flow_Tracking_Record_Update_Yes</name>
        <label>User Flow Tracking Record Update Yes</label>
        <locationX>718</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Email_Send</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>Yes</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <description>It looks like someone in your family visited an out of network provider for their last visit. We have rebates on glasses as well as on contact lenses that you can get at Premier locations – would you like to receive an email to learn more?</description>
        <name>Email</name>
        <label>Email</label>
        <locationX>191</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Flow_Tracking_Record</targetReference>
        </connector>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;It looks like someone in your family visited an out of network provider for their last visit. We have rebates on glasses as well as on contact lenses that you can get at Premier locations – would you like to receive an email to learn more?&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>bullets</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;$100 Rebate Glasses at Premier locations&lt;/li&gt;&lt;li&gt;$200 Rebate Contacts at Premier locations&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Y_N</name>
            <choiceReferences>Yess</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Great!  What’s your email address?</description>
        <name>Great_What_s_your_email_address</name>
        <label>Great!  What’s your email address?</label>
        <locationX>596</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Flow_Tracking_Record_Update_Yes</targetReference>
        </connector>
        <fields>
            <name>Email_ASK</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;Great!&amp;nbsp;What’s your email address?&lt;/i&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email1</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Must Be valid email address&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Email1},&quot;[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Okay, thank you for being a VSP member. If you’d like to see what rebates are available in the future, you can visit savemorewithvsp.com.</description>
        <name>No3</name>
        <label>No</label>
        <locationX>425</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;Okay, thank you for being a VSP member. If you’d like to see what rebates are available in the future, you can visit savemorewithvsp.com.&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Email</startElementReference>
    <status>Active</status>
    <variables>
        <name>Email2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current flow&apos;s recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <description>User Tracking Id</description>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Yes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </variables>
</Flow>
