src/flows/Retail_Service_Center_Call_Flow_CVS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CVSAssignment</name>
        <label>CVSAssignment</label>
        <locationX>624</locationX>
        <locationY>146</locationY>
        <assignmentItems>
            <assignToReference>varCVSAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CVSRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVS2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSClaimInquiryStatusChoice</name>
        <choiceText>Claim Inquiry/Status (was a claim paid, why was it denied. copy of EOP, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Inquiry/Status (was a claim paid, why was it denied. copy of EOP, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSClaimsAdjustmentChoice</name>
        <choiceText>Claims Adjustment (change a service, negate/reverse a claim, etc)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claims Adjustment (change a service, negate/reverse a claim, etc)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSClaimSubmissionChoice</name>
        <choiceText>Claim Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>CVSComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingCVSNetworkChoice</name>
        <choiceText>Matching CVS Network</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching CVS Network</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Did_the_caller_state_they_received_an_error_message</name>
        <label>Did the caller state they received an error message?</label>
        <locationX>623</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BenefitsYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>BenefitsYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>221</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</name>
        <label>Is there an outstanding authorization on the CC Portal Eligibility tab?</label>
        <locationX>384</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>AuthorizationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0_0</targetReference>
            </connector>
            <label>YesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>439</locationX>
        <locationY>683</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error_0</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>53</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>729</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen_0</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsScreen</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVS2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_7</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>ClaimsAdjustmentDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSClaimsAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5_0_0</targetReference>
            </connector>
            <label>ClaimsAdjustmentDecision</label>
        </rules>
        <rules>
            <name>ClaimsSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_4</targetReference>
            </connector>
            <label>ClaimsSubmissionDecision</label>
        </rules>
        <rules>
            <name>ClaimsInquiryDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSClaimInquiryStatusChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5</targetReference>
            </connector>
            <label>ClaimsInquiryDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_network_is_the_patient_using_at_this_office</name>
        <label>What network is the patient using at this office?</label>
        <locationX>323</locationX>
        <locationY>146</locationY>
        <defaultConnector>
            <targetReference>OON_Sub_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchingCVSDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingCVSNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVSScreen</targetReference>
            </connector>
            <label>MatchingCVSDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>CVSFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!varCVSChoice}+&quot; - &quot;+{!varCVSAssignment},100)</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call Flow - CVS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - CVS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>432</locationX>
        <locationY>858</locationY>
        <connector>
            <targetReference>AuthorizationNoScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>191</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0</name>
        <label>Update User Record</label>
        <locationX>181</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>AuthorizationScreen_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>1095</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>ClaimSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>1081</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>ClaimInquiryScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0_0</name>
        <label>Update User Record</label>
        <locationX>861</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>ClaimStatusAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_6</name>
        <label>Update User Record</label>
        <locationX>1079</locationX>
        <locationY>310</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_7</name>
        <label>Update User Record</label>
        <locationX>1081</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>62</locationX>
        <locationY>539</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error_0</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>319</locationX>
        <locationY>859</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationNoDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;This member is active and available. You should be able to locate benefits and retrieve an authorization using 2020Source. If you&apos;re still experiencing issues please have the member contact Memeber Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>382</locationX>
        <locationY>414</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Did you receive an error message?&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen_0</name>
        <label>AuthorizationScreen</label>
        <locationX>524</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0</name>
            <fieldText>&lt;p&gt;Is there an outstanding authorization on the CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio_0</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen_0_0</name>
        <label>AuthorizationScreen</label>
        <locationX>89</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0</name>
            <fieldText>&lt;p&gt;Refer to Knowledge: &lt;i&gt;Outstanding Authorizations (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>452</locationX>
        <locationY>538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>189</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>624</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_caller_state_they_received_an_error_message</targetReference>
        </connector>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;You can view the patient&apos;s benefit information on the 2020Source eligibility report.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Did the caller state they received an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimInquiryScreen</name>
        <label>ClaimInquiryScreen</label>
        <locationX>1218</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimInquiryDisplay</name>
            <fieldText>&lt;p&gt;Do not provide claim status (was a claim paid, why was it denied, copy of the EOP, etc.)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that but I can transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller requests a copy of their EOP: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com to request a copy of your EOP.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimStatusAdjustmentScreen</name>
        <label>ClaimStatusAdjustmentScreen</label>
        <locationX>910</locationX>
        <locationY>753</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimStatusAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not handle claim adjustments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that but I can transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimSubmissionScreen</name>
        <label>ClaimSubmissionScreen</label>
        <locationX>1227</locationX>
        <locationY>603</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimSubmissionDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please refer to your retail provider manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1223</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CVSNetworkScreen</name>
        <label>CVSNetworkScreen</label>
        <locationX>204</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_network_is_the_patient_using_at_this_office</targetReference>
        </connector>
        <fields>
            <name>CVSNetworkDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CVSNetworkRadio</name>
            <choiceReferences>MatchingCVSNetworkChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CVSScreen</name>
        <label>CVSScreen</label>
        <locationX>473</locationX>
        <locationY>145</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CVSAssignment</targetReference>
        </connector>
        <fields>
            <name>CVSDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CVSRadio</name>
            <choiceReferences>CVSAuthorizationChoice</choiceReferences>
            <choiceReferences>CVSBenefitsChoice</choiceReferences>
            <choiceReferences>CVSClaimsAdjustmentChoice</choiceReferences>
            <choiceReferences>CVSClaimSubmissionChoice</choiceReferences>
            <choiceReferences>CVSClaimInquiryStatusChoice</choiceReferences>
            <choiceReferences>CVS2020SourceLoginChoice</choiceReferences>
            <choiceReferences>CVSComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1222</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif;&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com. Refer to the 2020Source support quick reference guide for additional instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>71</locationX>
        <locationY>146</locationY>
        <connector>
            <targetReference>CVSNetworkScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OON_Sub_Flow</name>
        <label>OON Sub Flow</label>
        <locationX>814</locationX>
        <locationY>89</locationY>
        <flowName>Retail_Service_Center_Call_Flow_OON</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCoverage</name>
            <value>
                <elementReference>varCVSChoice</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCVSAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCVSChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
