src/flows/Retail_Service_Center_Call_Flow_VW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>VWAssignment</name>
        <label>VWAssignment</label>
        <locationX>680</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>varVWAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VWRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VWAssignment_0</name>
        <label>VWAssignment</label>
        <locationX>825</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>varVWAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VWRadio_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VWAssignment_0_0</name>
        <label>VWAssignment</label>
        <locationX>951</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>varVWAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VWMatchingMedicaidRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VWCallerAssignment</name>
        <label>VWCallerAssignment</label>
        <locationX>338</locationX>
        <locationY>40</locationY>
        <assignmentItems>
            <assignToReference>varVWCaller</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VWCallerRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_network_is_the_patient_using_at_this_office</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClaimAdjustmentChoice</name>
        <choiceText>Claim Adjustment (change a service, negate/reverse a claim, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment (change a service, negate/reverse a claim, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClaimInquiryChoice</name>
        <choiceText>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClaimSubmissionChoice</name>
        <choiceText>Claim Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>InstantDayIPEnrollChoice</name>
        <choiceText>Instant Individual Plan enrollment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Instant Individual Plan enrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingCGVNChoice</name>
        <choiceText>Matching CGVN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching CGVN</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingMedicaidNetworkChoice</name>
        <choiceText>Matching Medicaid Network</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching Medicaid Network</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingVWRKChoice</name>
        <choiceText>Matching (CGVN/VWRK/VWRKQ)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching (CGVN/VWRK/VWRKQ)</stringValue>
        </value>
    </choices>
    <choices>
        <description>Matching (VWRK/VWRKQ) &amp; OON</description>
        <name>MatchingVWRKQOONChoice</name>
        <choiceText>Matching (VWRK/VWRKQ) &amp;amp; OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching (VWRK/VWRKQ) &amp; OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMatchNoOONChoice</name>
        <choiceText>No match and No OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No match and No OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>VW2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>VWAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>VWBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>VWClaimsChoice</name>
        <choiceText>Claims</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claims</stringValue>
        </value>
    </choices>
    <choices>
        <name>VWComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>VWConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VW</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>319</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</name>
        <label>Is there an outstanding authorization on the CC Portal Eligibility tab?</label>
        <locationX>392</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>AuthorizationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesVWRKDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5_0_0</targetReference>
            </connector>
            <label>YesVWRKDecision</label>
        </rules>
        <rules>
            <name>NoMatchingMedicaidDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationNoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen3</targetReference>
            </connector>
            <label>NoMatchingMedicaidDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_CGVN</name>
        <label>Matching CGVN?</label>
        <locationX>931</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>BenefitsScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BenefitsMatchingCGVNDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingCGVNChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsScreen_0</targetReference>
            </connector>
            <label>BenefitsMatchingCGVNDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Medicaid_Network_Yes_No</name>
        <label>Matching Medicaid Network Yes No?</label>
        <locationX>527</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_5_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMedicaidDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5_0_0_0</targetReference>
            </connector>
            <label>YesMedicaidDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_VWRK_VWRKQ_or_Matching_CGVN</name>
        <label>Matching VWRK/VWRKQ or Matching CGVN?</label>
        <locationX>522</locationX>
        <locationY>919</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchingCGVNDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingCGVNChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0_0</targetReference>
            </connector>
            <label>MatchingCGVNDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_they_successful</name>
        <label>Were they successful?</label>
        <locationX>106</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SuccessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>367</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No2020SourceDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationNoScreen2</targetReference>
            </connector>
            <label>No2020SourceDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>902</locationX>
        <locationY>313</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_5_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VWAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen1</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidBenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VWBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_1_0</targetReference>
            </connector>
            <label>MatchingMedicaidBenefitsDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidSource2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VW2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5_0_0_0_0_0</targetReference>
            </connector>
            <label>MatchingMedicaidSource2020LoginDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VWBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsCGVNScreen</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VW2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>ClaimAdjustmentDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_2</targetReference>
            </connector>
            <label>ClaimAdjustmentDecision</label>
        </rules>
        <rules>
            <name>ClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3</targetReference>
            </connector>
            <label>ClaimSubmissionDecision</label>
        </rules>
        <rules>
            <name>ClaimInquiryDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClaimInquiryChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_4</targetReference>
            </connector>
            <label>ClaimInquiryDecision</label>
        </rules>
        <rules>
            <name>SameDayIPDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InstantDayIPEnrollChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0</targetReference>
            </connector>
            <label>SameDayIPDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_network_is_the_patient_using_at_this_office</name>
        <label>What network is the patient using at this office?</label>
        <locationX>473</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_3_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchingCGVNVWKRDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MatchingVWRKChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VWScreen</targetReference>
            </connector>
            <label>MatchingCGVNVWKRDecision</label>
        </rules>
        <rules>
            <name>OONDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VWOONScreen</targetReference>
            </connector>
            <label>OONDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidNetworkDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VWMatchingMedicaidScreen</targetReference>
            </connector>
            <label>MatchingMedicaidNetworkDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>VWFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!VWConstant}+&quot; - &quot;+{!varVWCaller}+&quot; - &quot;+{!varVWAssignment},100)</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - VW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>50</locationX>
        <locationY>940</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0</name>
        <label>Update User Record</label>
        <locationX>656</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>MatchingCGVNScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0_0</name>
        <label>Update User Record</label>
        <locationX>410</locationX>
        <locationY>1083</locationY>
        <connector>
            <targetReference>MatchingCGVNScreen_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>987</locationX>
        <locationY>657</locationY>
        <connector>
            <targetReference>Matching_CGVN</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1_0</name>
        <label>Update User Record</label>
        <locationX>822</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>MatchingMedicaidBenefitsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>1093</locationX>
        <locationY>907</locationY>
        <connector>
            <targetReference>ClaimStatusAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>1173</locationX>
        <locationY>795</locationY>
        <connector>
            <targetReference>ClaimSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0</name>
        <label>Update User Record</label>
        <locationX>1315</locationX>
        <locationY>219</locationY>
        <connector>
            <targetReference>InstantDayIPScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0</name>
        <label>Update User Record</label>
        <locationX>955</locationX>
        <locationY>13</locationY>
        <connector>
            <targetReference>NoMatchScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!VWConstant} - {!varVWCaller}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>1248</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>ClaimInquiryScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>1323</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0</name>
        <label>Update User Record</label>
        <locationX>1322</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0_0</name>
        <label>Update User Record</label>
        <locationX>213</locationX>
        <locationY>249</locationY>
        <connector>
            <targetReference>AuthorizationScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0_0_0</name>
        <label>Update User Record</label>
        <locationX>693</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>AuthorizationScreen4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0_0_0_0</name>
        <label>Update User Record</label>
        <locationX>650</locationX>
        <locationY>712</locationY>
        <connector>
            <targetReference>AuthorizationScreen5</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5_0_0_0_0_0</name>
        <label>Update User Record</label>
        <locationX>1314</locationX>
        <locationY>563</locationY>
        <connector>
            <targetReference>MatchingMedicaidSource2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VWFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>89</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_they_successful</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>287</locationX>
        <locationY>966</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_VWRK_VWRKQ_or_Matching_CGVN</targetReference>
        </connector>
        <fields>
            <name>MatchingDisplay</name>
            <fieldText>&lt;p&gt;Matching (VWRK/VWRKQ) &amp;amp; OON or Matching CGVN?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MatchingRadio</name>
            <choiceReferences>MatchingVWRKQOONChoice</choiceReferences>
            <choiceReferences>MatchingCGVNChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>118</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Did you receive an error message?&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen1</name>
        <label>AuthorizationScreen1</label>
        <locationX>547</locationX>
        <locationY>311</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0</name>
            <fieldText>&lt;p&gt;Is there an outstanding authorization on CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio_0</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen2</name>
        <label>AuthorizationScreen2</label>
        <locationX>94</locationX>
        <locationY>249</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0</name>
            <fieldText>&lt;p&gt;Refer to Knowledge: &lt;i&gt;Outstanding Authorizations (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen3</name>
        <label>AuthorizationScreen3</label>
        <locationX>419</locationX>
        <locationY>434</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Medicaid_Network_Yes_No</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0_0_0</name>
            <fieldText>&lt;p&gt;Is the patient available for services on the CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio_0_0</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen4</name>
        <label>AuthorizationScreen4</label>
        <locationX>737</locationX>
        <locationY>599</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0_0_0</name>
            <fieldText>&lt;p&gt;Issue an authorization to the Doctor.&lt;/p&gt;&lt;p&gt;Ok to fax if requested.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen5</name>
        <label>AuthorizationScreen5</label>
        <locationX>700</locationX>
        <locationY>858</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;Provide the next available date and ask if there&apos;s a reason the patient is coming in today.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If caller indicates a reason (lost glasses, prescription change, etc.), refer to Knowledge: &lt;i&gt;Medicaid - Repair and Replacement (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>447</locationX>
        <locationY>713</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>52</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsCGVNScreen</name>
        <label>BenefitsCGVNScreen</label>
        <locationX>897</locationX>
        <locationY>666</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_User_Record_1</targetReference>
        </connector>
        <fields>
            <name>BenefitsCGVNDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsCGVNRadio</name>
            <choiceReferences>MatchingVWRKQOONChoice</choiceReferences>
            <choiceReferences>MatchingCGVNChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>860</locationX>
        <locationY>992</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;Provide availability and benefit information for matching VWRK/VWRKQ or OON.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen_0</name>
        <label>BenefitsScreen</label>
        <locationX>998</locationX>
        <locationY>959</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BenefitsDisplay_0_0</name>
            <fieldText>&lt;p&gt;Provide availability and benefit information from the Choice Network.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimInquiryScreen</name>
        <label>ClaimInquiryScreen</label>
        <locationX>1387</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimInquiryDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;To determine if you received payment, refer to your EOP, remittance advice or 835. Please allow 7-10 days for the processing of the claim.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;If you still need assistance, please email CLSSUPPORT@vsp.com with your requests. For additional instructions refer to your claim payment and adjustment quick reference guide on 2020Source.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller requests a copy of their EOP: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com to request a copy of your EOP.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimStatusAdjustmentScreen</name>
        <label>ClaimStatusAdjustmentScreen</label>
        <locationX>1389</locationX>
        <locationY>907</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimStatusAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not handle claim adjustments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please email CLSSUPPORT@vsp.com with your request. For additional instructions refer to your claim payment and adjustment quick reference guide.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimSubmissionScreen</name>
        <label>ClaimSubmissionScreen</label>
        <locationX>1385</locationX>
        <locationY>795</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimSubmissionDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please refer to your Visionworks retail provider manual on 2020Source.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1428</locationX>
        <locationY>333</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InstantDayIPScreen</name>
        <label>InstantDayIPScreen</label>
        <locationX>1444</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SameDayIPDisplay</name>
            <fieldText>&lt;p&gt;Refer to Knowledge: &lt;i&gt;Individual Plan Enrollment for Visionworks (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingCGVNScreen</name>
        <label>MatchingCGVNScreen</label>
        <locationX>788</locationX>
        <locationY>1068</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MatchingDisplay_0</name>
            <fieldText>&lt;p&gt;Issue an authorization to the doctor; fax if requested. Provide the Cigna Plan Code.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingCGVNScreen_0</name>
        <label>MatchingCGVNScreen</label>
        <locationX>533</locationX>
        <locationY>1083</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MatchingDisplay_0_0</name>
            <fieldText>&lt;p&gt;Issue an authorization to the member.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingMedicaidBenefitsScreen</name>
        <label>MatchingMedicaidBenefitsScreen</label>
        <locationX>814</locationX>
        <locationY>770</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BenefitsDisplay_0</name>
            <fieldText>&lt;p&gt;Provide copays from the CC Portal Product tab, if available.&lt;/p&gt;&lt;p&gt;Do not provide any other information.&lt;/p&gt;&lt;p&gt;For all other benefit information, refer the caller to their Medicaid manual.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingMedicaidSource2020LoginScreen</name>
        <label>MatchingMedicaidSource2020LoginScreen</label>
        <locationX>1430</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay_0</name>
            <fieldText>&lt;p&gt;Visionworks locations are not able to use 2020Source for Medicaid patients.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoMatchScreen</name>
        <label>NoMatchScreen</label>
        <locationX>1188</locationX>
        <locationY>16</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VWDisplay_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;This patient does not have Visionworks coverage on their plan, and they do not have out of network benefits. Please have them contact Member Services directly at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If caller questions: &lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Visionworks is in-network for most VSP patients, however there are still some patients who do not have coverage at your office.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1439</locationX>
        <locationY>443</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com for assistance or refer to your 2020Source support quick reference guide for additional instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VWCallerScreen</name>
        <label>VWCallerScreen</label>
        <locationX>216</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VWCallerAssignment</targetReference>
        </connector>
        <fields>
            <name>VWCallerDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VWCallerRadio</name>
            <choiceReferences>MatchingVWRKChoice</choiceReferences>
            <choiceReferences>MatchingMedicaidNetworkChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <choiceReferences>NoMatchNoOONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VWMatchingMedicaidScreen</name>
        <label>VWMatchingMedicaidScreen</label>
        <locationX>817</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VWAssignment_0_0</targetReference>
        </connector>
        <fields>
            <name>VWDisplay_0_0_0</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VWMatchingMedicaidRadio</name>
            <choiceReferences>VWAuthorizationChoice</choiceReferences>
            <choiceReferences>VWBenefitsChoice</choiceReferences>
            <choiceReferences>ClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>ClaimSubmissionChoice</choiceReferences>
            <choiceReferences>ClaimInquiryChoice</choiceReferences>
            <choiceReferences>VW2020SourceLoginChoice</choiceReferences>
            <choiceReferences>VWComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VWOONScreen</name>
        <label>VWOONScreen</label>
        <locationX>631</locationX>
        <locationY>129</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VWAssignment_0</targetReference>
        </connector>
        <fields>
            <name>VWDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this patient&apos;s plan, but I&apos;m happy to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If caller questions: &lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Visionworks is in-network for most VSP patients, however there are still some patients where you are out of network.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VWRadio_0</name>
            <choiceReferences>VWAuthorizationChoice</choiceReferences>
            <choiceReferences>VWBenefitsChoice</choiceReferences>
            <choiceReferences>ClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>ClaimSubmissionChoice</choiceReferences>
            <choiceReferences>ClaimInquiryChoice</choiceReferences>
            <choiceReferences>VW2020SourceLoginChoice</choiceReferences>
            <choiceReferences>VWComplaintChoice</choiceReferences>
            <choiceReferences>InstantDayIPEnrollChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VWScreen</name>
        <label>VWScreen</label>
        <locationX>546</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VWAssignment</targetReference>
        </connector>
        <fields>
            <name>VWDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>VWRadio</name>
            <choiceReferences>VWAuthorizationChoice</choiceReferences>
            <choiceReferences>VWBenefitsChoice</choiceReferences>
            <choiceReferences>ClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>ClaimSubmissionChoice</choiceReferences>
            <choiceReferences>ClaimInquiryChoice</choiceReferences>
            <choiceReferences>VW2020SourceLoginChoice</choiceReferences>
            <choiceReferences>VWComplaintChoice</choiceReferences>
            <choiceReferences>InstantDayIPEnrollChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>VWCallerScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCallerAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMatching</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVWAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVWCaller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
