src/flows/Retail_Service_Center_Call_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignAffiliateCoverage</name>
        <label>assignAffiliateCoverage</label>
        <locationX>331</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>varCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affiliate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoverageScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignCVSCoverage</name>
        <label>assignCVSCoverage</label>
        <locationX>429</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>varCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CVS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CVS_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWalmartCoverage</name>
        <label>assignWalmartCoverage</label>
        <locationX>541</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>varCoverage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Walmart</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Walmart_Subflow</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Affiliate (AFPR/AFPRQ)</description>
        <name>AffiliateChoice</name>
        <choiceText>Affiliate (matching AFPR, AFPRQ or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Affiliate (matching AFPR, AFPRQ or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <description>CGVN Provider</description>
        <name>CGVNProviderChoice</name>
        <choiceText>CGVN Provider (matching CGVN or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CGVN Provider (matching CGVN or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CignaNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>CignaYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Costco (COSTA, COSTQ)</description>
        <name>CostcoChoice</name>
        <choiceText>Costco (matching COSTA, COSTQ or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Costco (matching COSTA, COSTQ or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <description>CVS</description>
        <name>CVSChoice</name>
        <choiceText>CVS (matching CVS or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CVS (matching CVS or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <description>GAP</description>
        <name>GAPChoice</name>
        <choiceText>GAP Network Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GAP Network Provider</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingAffiliateNetworkChoice</name>
        <choiceText>Matching Affiliate Network</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching Affiliate Network</stringValue>
        </value>
    </choices>
    <choices>
        <description>Member or Patient</description>
        <name>MemberPatientChoice</name>
        <choiceText>Member or Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Member or Patient</stringValue>
        </value>
    </choices>
    <choices>
        <description>MLVN Provider</description>
        <name>MLVNProviderChoice</name>
        <choiceText>MLVN Provider (matching MLVN or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MLVN Provider (matching MLVN or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <description>OON Provider</description>
        <name>OONProviderChoice</name>
        <choiceText>OON Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON Provider</stringValue>
        </value>
    </choices>
    <choices>
        <description>Visionworks (VWRK, VWRKQ, OON)</description>
        <name>VisionworksChoice</name>
        <choiceText>Visionworks (matching CGVN, VWRK, VWRKQ, Medicaid Network or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visionworks (matching CGVN, VWRK, VWRKQ, Medicaid Network or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <description>VSP In-Network Doctor</description>
        <name>VSPInNetworkDoctorChoice</name>
        <choiceText>VSP In-Network Doctor (VSP, Choice, Advantage, Etc. with a green checkmark)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VSP In-Network Doctor (VSP, Choice, Advantage, etc. with green checkmark)</stringValue>
        </value>
    </choices>
    <choices>
        <description>Walmart or Sam&apos;s Club Optical (WALM, WALMQ)</description>
        <name>WalmartChoice</name>
        <choiceText>Walmart or Sam&apos;s Club (matching WALM, WALMQ, Medicaid Network or OON)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Walmart or Sam&apos;s Club (matching WALM, WALMQ, Medicaid Network or OON)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <description>Flow Name</description>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail Service Call Center Flow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Coverage_Decision</name>
        <label>Coverage Decision?</label>
        <locationX>321</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>OON_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OONDecision</defaultConnectorLabel>
        <rules>
            <name>MatchingRetailNetworkDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingAffiliateNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retail_Match_Subflow</targetReference>
            </connector>
            <label>MatchingRetailNetworkDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>ND_OON_decision</name>
        <label>ND OON decision?</label>
        <locationX>897</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NDOONYesDecision</defaultConnectorLabel>
        <rules>
            <name>NDOONNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>NDOONNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for which choice the user selects</description>
        <name>Who_is_your_caller_decision</name>
        <label>Who is your caller decision?</label>
        <locationX>811</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>User_Flow_Tracking_Record_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>MemberPatientDecision</defaultConnectorLabel>
        <rules>
            <name>VisioneWorksDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisionworksChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record</targetReference>
            </connector>
            <label>VisioneWorksDecision</label>
        </rules>
        <rules>
            <name>WalmartDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WalmartChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_3</targetReference>
            </connector>
            <label>WalmartDecision</label>
        </rules>
        <rules>
            <name>CostcoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CostcoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_2</targetReference>
            </connector>
            <label>CostcoDecision</label>
        </rules>
        <rules>
            <name>AffiliateDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffiliateChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_4</targetReference>
            </connector>
            <label>AffiliateDecision</label>
        </rules>
        <rules>
            <name>CVSDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CVSChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_5</targetReference>
            </connector>
            <label>CVSDecision</label>
        </rules>
        <rules>
            <name>CGVNProviderDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNProviderChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_6</targetReference>
            </connector>
            <label>CGVNProviderDecision</label>
        </rules>
        <rules>
            <name>MVLNProviderDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNProviderChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_7</targetReference>
            </connector>
            <label>MVLNProviderDecision</label>
        </rules>
        <rules>
            <name>OONProviderDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONProviderChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_8</targetReference>
            </connector>
            <label>OONProviderDecision</label>
        </rules>
        <rules>
            <name>VSPInNetworkDoctorDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VSPInNetworkDoctorChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_9</targetReference>
            </connector>
            <label>VSPInNetworkDoctorDecision</label>
        </rules>
        <rules>
            <name>GAPDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GAPChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Flow_Tracking_Record_10</targetReference>
            </connector>
            <label>GAPDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>User_Flow_Tracking_Record</name>
        <label>User Flow Tracking Record</label>
        <locationX>82</locationX>
        <locationY>175</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>VW_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VisionworksChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_10</name>
        <label>User Flow Tracking Record 10</label>
        <locationX>1209</locationX>
        <locationY>213</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_User_Record_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>GAPChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_11</name>
        <label>User Flow Tracking Record 11</label>
        <locationX>1343</locationX>
        <locationY>174</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_User_Record_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>MemberPatientChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_2</name>
        <label>User Flow Tracking Record 2</label>
        <locationX>198</locationX>
        <locationY>188</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>Costco_CV_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CostcoChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_3</name>
        <label>User Flow Tracking Record 3</label>
        <locationX>536</locationX>
        <locationY>257</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>assignWalmartCoverage</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WalmartChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_4</name>
        <label>User Flow Tracking Record 4</label>
        <locationX>331</locationX>
        <locationY>224</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>assignAffiliateCoverage</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>AffiliateChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_5</name>
        <label>User Flow Tracking Record 5</label>
        <locationX>430</locationX>
        <locationY>229</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>assignCVSCoverage</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CVSChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_6</name>
        <label>User Flow Tracking Record 6</label>
        <locationX>705</locationX>
        <locationY>230</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>CGVN_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNProviderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_7</name>
        <label>User Flow Tracking Record 7</label>
        <locationX>798</locationX>
        <locationY>232</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>MLVN_Subflow</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>MLVNProviderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_8</name>
        <label>User Flow Tracking Record 8</label>
        <locationX>905</locationX>
        <locationY>217</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>NDOONScreenFlow</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>OONProviderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordCreates>
        <name>User_Flow_Tracking_Record_9</name>
        <label>User Flow Tracking Record 9</label>
        <locationX>1054</locationX>
        <locationY>214</locationY>
        <assignRecordIdToReference>UserTrackingId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_User_Record_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>VSPInNetworkDoctorChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>1033</locationX>
        <locationY>644</locationY>
        <connector>
            <targetReference>NDOONNoScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>OONProviderChoice</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>901</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>NDOONYesScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>OONProviderChoice</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>1054</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>VSPInNetworkGAPScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>1214</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>VSPInNetworkGAPScreen_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>1349</locationX>
        <locationY>327</locationY>
        <connector>
            <targetReference>MemberPatientScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>CoverageScreen</name>
        <label>CoverageScreen</label>
        <locationX>334</locationX>
        <locationY>497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Coverage_Decision</targetReference>
        </connector>
        <fields>
            <name>CoverageDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoverageRadio</name>
            <choiceReferences>MatchingAffiliateNetworkChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MemberPatientScreen</name>
        <label>MemberPatientScreen</label>
        <locationX>1405</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MemberPatientDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You have reached the Retail Service Center. For assistance, please contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NDOONNoScreen</name>
        <label>NDOONNoScreen</label>
        <locationX>1032</locationX>
        <locationY>796</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NDOONNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this member&apos;s plan. Please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Our policy is to provide benefit information to the member only.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NDOONScreenFlow</name>
        <label>NDOONScreenFlow</label>
        <locationX>907</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ND_OON_decision</targetReference>
        </connector>
        <fields>
            <name>NDOONDisplay</name>
            <fieldText>&lt;p&gt;Is this a North Dakota OON provider calling on a BCBS of North Dakota member? (Client ID 30082656)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NDOONRadio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NDOONYesScreen</name>
        <label>NDOONYesScreen</label>
        <locationX>901</locationX>
        <locationY>791</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NDOONYesDisplay</name>
            <fieldText>&lt;p&gt;Provide OON benefits and issue authorization to the member.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VSPInNetworkGAPScreen</name>
        <label>VSPInNetworkGAPScreen</label>
        <locationX>1134</locationX>
        <locationY>486</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VSPInNetworkGAPDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You have reached the Retail Service Center. For assistance, please contact Provider Services at 800-615-1883.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VSPInNetworkGAPScreen_0</name>
        <label>VSPInNetworkGAPScreen</label>
        <locationX>1261</locationX>
        <locationY>487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VSPInNetworkGAPDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You have reached the Retail Service Center. For assistance, please contact Provider Services at 800-615-1883.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Who is your caller?</description>
        <name>Who_is_your_caller_header</name>
        <label>Who is your caller?</label>
        <locationX>236</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Who_is_your_caller_decision</targetReference>
        </connector>
        <fields>
            <name>WhoIsYourCallerDisplay</name>
            <fieldText>&lt;p&gt;Who is your caller?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_is_your_caller_radio</name>
            <choiceReferences>VisionworksChoice</choiceReferences>
            <choiceReferences>WalmartChoice</choiceReferences>
            <choiceReferences>CostcoChoice</choiceReferences>
            <choiceReferences>AffiliateChoice</choiceReferences>
            <choiceReferences>CVSChoice</choiceReferences>
            <choiceReferences>CGVNProviderChoice</choiceReferences>
            <choiceReferences>MLVNProviderChoice</choiceReferences>
            <choiceReferences>OONProviderChoice</choiceReferences>
            <choiceReferences>VSPInNetworkDoctorChoice</choiceReferences>
            <choiceReferences>GAPChoice</choiceReferences>
            <choiceReferences>MemberPatientChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Who_is_your_caller_header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Goes to the Retail Service Center Call Flow - CGVN subflow</description>
        <name>CGVN_Subflow</name>
        <label>CGVN Subflow</label>
        <locationX>659</locationX>
        <locationY>387</locationY>
        <flowName>Retail_Service_Center_Call_Flow_CGVN</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Goes to the Retail Service Center Call Flow - Costco CV subflow</description>
        <name>Costco_CV_Subflow</name>
        <label>Costco CV Subflow</label>
        <locationX>196</locationX>
        <locationY>347</locationY>
        <flowName>Retail_Service_Center_Call_Flow_Costco_CV</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCostcoChoice</name>
            <value>
                <elementReference>varCostco</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CVS_Subflow</name>
        <label>CVS Subflow</label>
        <locationX>443</locationX>
        <locationY>542</locationY>
        <flowName>Retail_Service_Center_Call_Flow_CVS</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCVSChoice</name>
            <value>
                <elementReference>varCoverage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Goes to the Retail Service Center Call Flow - MLVN subflow</description>
        <name>MLVN_Subflow</name>
        <label>MLVN Subflow</label>
        <locationX>776</locationX>
        <locationY>380</locationY>
        <flowName>Retail_Service_Center_Call_Flow_MLVN</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Go to the Retail Service Center Call Flow - OON subflow</description>
        <name>OON_Subflow</name>
        <label>OON Subflow</label>
        <locationX>155</locationX>
        <locationY>714</locationY>
        <flowName>Retail_Service_Center_Call_Flow_OON</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCoverage</name>
            <value>
                <elementReference>varCoverage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Goes to the Retail Service Center Call Flow - Retail Match subflow</description>
        <name>Retail_Match_Subflow</name>
        <label>Retail Match Subflow</label>
        <locationX>157</locationX>
        <locationY>541</locationY>
        <flowName>Retail_Service_Center_Call_Flow_Retail_Match</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCoverage</name>
            <value>
                <elementReference>varCoverage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VW_Subflow</name>
        <label>VW Subflow</label>
        <locationX>86</locationX>
        <locationY>321</locationY>
        <flowName>Retail_Service_Center_Call_Flow_VW</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Go to the Retail Service Center Call Flow - MLV Walmart</description>
        <name>Walmart_Subflow</name>
        <label>Walmart Subflow</label>
        <locationX>613</locationX>
        <locationY>568</locationY>
        <flowName>Retail_Service_Center_Call_Flow_MLV_Walmart</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCallerChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCostco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Costco</stringValue>
        </value>
    </variables>
    <variables>
        <name>varCoverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
