src/flows/Retail_Service_Center_Call_Flow_MLVN.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>MLVN2020SourceChoice</name>
        <choiceText>2020Source Troubleshooting error messages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Troubleshooting error messages</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNChoice</name>
        <choiceText>MLVN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MLVN</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNClaimStatusChoice</name>
        <choiceText>Claim Status/Adjustments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Status/Adjustments</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNClaimSubmissionChoice</name>
        <choiceText>Claim Submission Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVNComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>WALMChoice</name>
        <choiceText>WALM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WALM</stringValue>
        </value>
    </choices>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>591</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CGVNComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>CGVNAuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>CGVNAuthorizationsDecision</label>
        </rules>
        <rules>
            <name>CGVNBenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0</targetReference>
            </connector>
            <label>CGVNBenefitsDecision</label>
        </rules>
        <rules>
            <name>CGVN2020SourceDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVN2020SourceChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_1</targetReference>
            </connector>
            <label>CGVN2020SourceDecision</label>
        </rules>
        <rules>
            <name>CGVNClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_2</targetReference>
            </connector>
            <label>CGVNClaimSubmissionDecision</label>
        </rules>
        <rules>
            <name>CGVNClaimStatusDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNClaimStatusChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3</targetReference>
            </connector>
            <label>CGVNClaimStatusDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_network_is_the_patient_using_at_this_office</name>
        <label>What network is the patient using at this office</label>
        <locationX>393</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OONDecision</defaultConnectorLabel>
        <rules>
            <name>CGVNDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVNChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLVNDecisionScreen</targetReference>
            </connector>
            <label>MLVNDecision</label>
        </rules>
        <rules>
            <name>COSTADecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WALMChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLV_Walmart_Subflow</targetReference>
            </connector>
            <label>WALMDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Retail Service Center Call Flow - MLVN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - MLVN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>272</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>MLVNAuthorizationScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVNAuthorizationChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>259</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>MLVNBenefitsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVNBenefitsChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>393</locationX>
        <locationY>567</locationY>
        <connector>
            <targetReference>MLVN2020SourceScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVN2020SourceChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>539</locationX>
        <locationY>582</locationY>
        <connector>
            <targetReference>MLVNClaimsSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVNClaimSubmissionChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>681</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>ClaimsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVNClaimStatusChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>814</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>MLVNComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!MLVNComplaintChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>875</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>OONScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVNChoice} - {!OONChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>ClaimsScreen</name>
        <label>MLVNClaimStatusScreen</label>
        <locationX>682</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MLVNClaimStatusDisplay</name>
            <fieldText>&lt;p&gt;Do not provide claim status or handle claim adjustments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. I will transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer to 1119044 without an announcement.&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVN2020SourceScreen</name>
        <label>MLVN2020SourceScreen</label>
        <locationX>391</locationX>
        <locationY>718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MLVN2020SourceDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVNAuthorizationScreen</name>
        <label>MLVNAuthorizationScreen</label>
        <locationX>131</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MLVNAuthorizationDisplay</name>
            <fieldText>&lt;p&gt;Authorizations are issued to the doctor.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVNBenefitsScreen</name>
        <label>MLVNBenefitsScreen</label>
        <locationX>124</locationX>
        <locationY>468</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MLVNBenefitsDisplay</name>
            <fieldText>&lt;p&gt;Provide availability and benefit information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVNClaimsSubmissionScreen</name>
        <label>MLVNClaimsSubmissionScreen</label>
        <locationX>539</locationX>
        <locationY>724</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNClaimsSubmissionDisplay</name>
            <fieldText>&lt;p&gt;Refer the caller to their manual or they can call their billing office.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVNComplaintScreen</name>
        <label>MLVNComplaintScreen</label>
        <locationX>813</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to your retail provider manual.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MLVNDecisionScreen</name>
        <label>MLVNDecisionScreen</label>
        <locationX>582</locationX>
        <locationY>141</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
        <fields>
            <name>MLVNDecisionDisplay</name>
            <fieldText>&lt;p&gt;What are they looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MLVNDecisionRadio</name>
            <choiceReferences>MLVNAuthorizationChoice</choiceReferences>
            <choiceReferences>MLVNBenefitsChoice</choiceReferences>
            <choiceReferences>MLVN2020SourceChoice</choiceReferences>
            <choiceReferences>MLVNClaimSubmissionChoice</choiceReferences>
            <choiceReferences>MLVNClaimStatusChoice</choiceReferences>
            <choiceReferences>MLVNComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVNScreen</name>
        <label>MLVNScreen</label>
        <locationX>226</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_network_is_the_patient_using_at_this_office</targetReference>
        </connector>
        <fields>
            <name>CGVNDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MLVNRadio</name>
            <choiceReferences>MLVNChoice</choiceReferences>
            <choiceReferences>WALMChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONScreen</name>
        <label>OONScreen</label>
        <locationX>1022</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OONDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Please have the member call MetLife Vision at 1-855-MET-EYE1 (855-638-3931).&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MLVNScreen</startElementReference>
    <status>Active</status>
    <subflows>
        <name>MLV_Walmart_Subflow</name>
        <label>MLV Walmart Subflow</label>
        <locationX>747</locationX>
        <locationY>52</locationY>
        <flowName>Retail_Service_Center_Call_Flow_MLV_Walmart</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
