src/flows/Retail_Service_Center_Call_Flow_OON.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>OON2020SourceAssistanceChoice</name>
        <choiceText>2020Source Troubleshooting error messages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Troubleshooting error messages</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONClaimAdjustmentChoice</name>
        <choiceText>Claim Adjustment/Inquiry/Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment/Inquiry/Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONDocumentAComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONEligibilityChoice</name>
        <choiceText>Eligibility/Benefits/Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Eligibility/Benefits/Authorization</stringValue>
        </value>
    </choices>
    <constants>
        <name>CoverageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_is_the_retail_provider_looking_for</name>
        <label>What is the retail provider looking for?</label>
        <locationX>534</locationX>
        <locationY>53</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EligibilityDecision</defaultConnectorLabel>
        <rules>
            <name>Source2020AssistanceDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OON2020SourceAssistanceChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0</targetReference>
            </connector>
            <label>Source2020AssistanceDecision</label>
        </rules>
        <rules>
            <name>ComplaintDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONDocumentAComplaintChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_1</targetReference>
            </connector>
            <label>ComplaintDecision</label>
        </rules>
        <rules>
            <name>ClaimAdjustmentDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_2</targetReference>
            </connector>
            <label>ClaimAdjustmentDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Retail Service Center Call Flow - OON {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - OON</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>506</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>EligibilityScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!OONEligibilityChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>650</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Source2020AssistanceScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!OON2020SourceAssistanceChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>808</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!OONDocumentAComplaintChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>806</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>ClaimAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!OONClaimAdjustmentChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>ClaimAdjustmentScreen</name>
        <label>ClaimAdjustmentScreen</label>
        <locationX>960</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not assist caller with claim related questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please refer to your retail provider manual.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>957</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for addition information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EligibilityScreen</name>
        <label>EligibilityScreen</label>
        <locationX>503</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EligibilityDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this member&apos;s plan. Please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Our policy is to provide benefit information to the member only.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONScreen</name>
        <label>OONScreen</label>
        <locationX>373</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_retail_provider_looking_for</targetReference>
        </connector>
        <fields>
            <name>OONDisplay</name>
            <fieldText>&lt;p&gt;What are they looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OONRadio</name>
            <choiceReferences>OONEligibilityChoice</choiceReferences>
            <choiceReferences>OON2020SourceAssistanceChoice</choiceReferences>
            <choiceReferences>OONDocumentAComplaintChoice</choiceReferences>
            <choiceReferences>OONClaimAdjustmentChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020AssistanceScreen</name>
        <label>Source2020AssistanceScreen</label>
        <locationX>643</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020AssistanceDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this member&apos;s plan. Please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Our policy is to provide benefit information to the member only.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can refer to the VSP Tip Sheet provided to your office.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>OONScreen</startElementReference>
    <status>Active</status>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
