src/flows/Retail_Service_Center_Call_Flow_MLV_Walmart.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>MLVAssignment_0_0_0</name>
        <label>MLVAssignment</label>
        <locationX>784</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>varMLVAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLVRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MLVAssignment_0_0_0_0</name>
        <label>MLVAssignment</label>
        <locationX>358</locationX>
        <locationY>42</locationY>
        <assignmentItems>
            <assignToReference>varWMCaller</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WMSCCallerRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_network_is_the_patient_using_at_this_office</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingMedicaidNetworkChoice</name>
        <choiceText>Matching Medicaid Network</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching Medicaid Network</stringValue>
        </value>
    </choices>
    <choices>
        <name>MatchingWALMWALMQChoice</name>
        <choiceText>Matching WALM/WALMQ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Matching WALM/WALMQ</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLV2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVClaimAdjustmentChoice</name>
        <choiceText>Claim Adjustment (change a service, negate/reverse a claim, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment (change a service, negate/reverse a claim, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVClaimInquiryStatusChoice</name>
        <choiceText>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVClaimSubmissionChoice</name>
        <choiceText>Claim Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MLVWalmartConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Walmart</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_the_caller_state_they_received_an_error_message</name>
        <label>Did the caller state they received an error message?</label>
        <locationX>884</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BenefitsYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>BenefitsYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>219</locationX>
        <locationY>445</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_patient_available_for_services_on_the_CC_Portal_Eligibility_tab</name>
        <label>Is the patient available for services on the CC Portal Eligibility tab?</label>
        <locationX>454</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesBenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLVBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsScreen</targetReference>
            </connector>
            <label>YesBenefitsDecision</label>
        </rules>
        <rules>
            <name>NoBenefitDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationNoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLVBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0_0_0_0</targetReference>
            </connector>
            <label>NoBenefitDecision</label>
        </rules>
        <rules>
            <name>YesMedicaidDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen</targetReference>
            </connector>
            <label>YesMedicaidDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</name>
        <label>Is there an outstanding authorization on the CC Portal Eligibility tab?</label>
        <locationX>396</locationX>
        <locationY>154</locationY>
        <defaultConnector>
            <targetReference>AuthorizationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MatchingWALMYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0_0</targetReference>
            </connector>
            <label>MatchingWALMYesDecision</label>
        </rules>
        <rules>
            <name>NoMatchingMedicaidDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationNoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen3</targetReference>
            </connector>
            <label>NoMatchingMedicaidDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>389</locationX>
        <locationY>670</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>SuccessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error_0</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>33</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessfulNoDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SuccessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>908</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen_0</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidBenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen3</targetReference>
            </connector>
            <label>MatchingMedicaidBenefitsDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsScreen</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidSource202LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLV2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_4_0</targetReference>
            </connector>
            <label>MatchingMedicaidSource202LoginDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLV2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_4</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidClaimAdjustmentDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3</targetReference>
            </connector>
            <label>MatchingMedicaidClaimAdjustmentDecision</label>
        </rules>
        <rules>
            <name>MatchingMedicaidClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MLVClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0_0_0</targetReference>
            </connector>
            <label>MatchingMedicaidClaimSubmissionDecision</label>
        </rules>
        <rules>
            <name>ClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0</targetReference>
            </connector>
            <label>ClaimSubmissionDecision</label>
        </rules>
        <rules>
            <name>ClaimInquiryStatusDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVClaimInquiryStatusChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0_0</targetReference>
            </connector>
            <label>ClaimInquiryStatusDecision</label>
        </rules>
        <rules>
            <name>ClaimAdjustment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0_0_0_0</targetReference>
            </connector>
            <label>ClaimAdjustment</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_network_is_the_patient_using_at_this_office</name>
        <label>What network is the patient using at this office?</label>
        <locationX>465</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>OON_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WALMMatchingMedicaidDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MatchingMedicaidNetworkChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchingWALMWALMQChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLVScreen</targetReference>
            </connector>
            <label>WALMMatchingMedicaidDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>WMFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!MLVWalmartConstant}+&quot; - &quot; +{!varWMCaller}+&quot; - &quot; +{!varMLVAssignment},100)</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call Flow - MLV Walmart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - MLV Walmart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>381</locationX>
        <locationY>809</locationY>
        <connector>
            <targetReference>AuthorizationNoScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>221</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0</name>
        <label>Update User Record</label>
        <locationX>155</locationX>
        <locationY>139</locationY>
        <connector>
            <targetReference>AuthorizationScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0_0</name>
        <label>Update User Record</label>
        <locationX>346</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>AuthorizationScreen4</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0_0_0_0</name>
        <label>Update User Record</label>
        <locationX>478</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>BenefitsScreen1</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>1213</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>MatchingMedicaidClaimAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0</name>
        <label>Update User Record</label>
        <locationX>1211</locationX>
        <locationY>471</locationY>
        <connector>
            <targetReference>ClaimsSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0</name>
        <label>Update User Record</label>
        <locationX>1058</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>ClaimInquiryStatusScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0_0</name>
        <label>Update User Record</label>
        <locationX>1202</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>MatchingMedicaidClaimSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0_0_0</name>
        <label>Update User Record</label>
        <locationX>1218</locationX>
        <locationY>814</locationY>
        <connector>
            <targetReference>ClaimAdjustmentScreen_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>1233</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4_0</name>
        <label>Update User Record</label>
        <locationX>1234</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Source2020LoginScreen_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>1217</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>WMFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>46</locationX>
        <locationY>514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error_0</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>527</locationX>
        <locationY>809</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationNoDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;This member is active and available. You should be able to locate benefits and retrieve an authorization using 2020Source. If you&apos;re still experiencing issues please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>45</locationX>
        <locationY>305</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Did you receive an error message?&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen2</name>
        <label>AuthorizationScreen2</label>
        <locationX>42</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay2</name>
            <fieldText>&lt;p&gt;Refer to Knowledge: Outstanding Authorizations (Retail Partners)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen3</name>
        <label>AuthorizationScreen3</label>
        <locationX>588</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_the_patient_available_for_services_on_the_CC_Portal_Eligibility_tab</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0_0</name>
            <fieldText>&lt;p&gt;Is the patient available for services on the CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio_0_0</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen4</name>
        <label>AuthorizationScreen4</label>
        <locationX>224</locationX>
        <locationY>345</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0_0</name>
            <fieldText>&lt;p&gt;Provide the next available date and ask if there&apos;s a reason the patient is coming in today.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If caller indicates a reason (lost glasses, prescription change, etc.), refer to Knowledge: &lt;i&gt;Medicaid - Repair and Replacement (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen_0</name>
        <label>AuthorizationScreen</label>
        <locationX>589</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0</name>
            <fieldText>&lt;p&gt;Is there an outstanding authorization on the CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio_0</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>379</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>224</locationX>
        <locationY>819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>824</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_caller_state_they_received_an_error_message</targetReference>
        </connector>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You can view the patient&apos;s benefit information on the 2020Source eligibility report.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Did the caller state they received an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen1</name>
        <label>BenefitsScreen1</label>
        <locationX>597</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BenefitsDisplay_0</name>
            <fieldText>&lt;p&gt;Provide the next available date and ask if there&apos;s a reason the patient is coming in today.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller indicates a reason (lost glasses, prescription change, etc.), refer to Knowledge: Medicaid - Repair and Replacement (Retail Partners)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If necessary:&lt;/p&gt;&lt;p&gt;Provide copays from the CC Portal tab, if available.&lt;/p&gt;&lt;p&gt;Do not provide any other information.&lt;/p&gt;&lt;p&gt;For all other benefit information. refer the caller to their Medical manual.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimAdjustmentScreen_0</name>
        <label>ClaimAdjustmentScreen</label>
        <locationX>1349</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimAdjustmentDisplay_0</name>
            <fieldText>&lt;p&gt;Do not assist caller with claim related questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please email CLSSupport@vsp.com with your request. For additional instructions, refer to your claim payment and adjustment quick reference guide.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimInquiryStatusScreen</name>
        <label>ClaimInquiryStatusScreen</label>
        <locationX>1061</locationX>
        <locationY>741</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimsDisplay_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;To determine if you received payment, refer to your EOP, remittance advise, or 835. Please allow 7-10 days for the processing of the claim.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;If you still need assistance, please email CLSSupport@vsp.com with your request. For additional instructions refer to your claim payment and adjustment quick reference guide on 2020Source.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller requests a copy of their EOP: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com to request a copy of your EOP.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimsSubmissionScreen</name>
        <label>ClaimsSubmissionScreen</label>
        <locationX>1346</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimsDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please refer to your  Walmart retail provider manual on 2020Source or your Claim Submission Quick Reference Guide.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1325</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingMedicaidClaimAdjustmentScreen</name>
        <label>MatchingMedicaidClaimAdjustmentScreen</label>
        <locationX>1344</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not handle claim adjustments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please email CLSSupport@vsp.com with your request. For additional instructions, refer to your claim payment and adjustment quick reference guide.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MatchingMedicaidClaimSubmissionScreen</name>
        <label>MatchingMedicaidClaimSubmissionScreen</label>
        <locationX>1337</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimsDisplay_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please refer to your  Walmart retail provider manual on 2020Source.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MLVScreen</name>
        <label>MLVScreen</label>
        <locationX>665</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MLVAssignment_0_0_0</targetReference>
        </connector>
        <fields>
            <name>MLVDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MLVRadio</name>
            <choiceReferences>MLVAuthorizationChoice</choiceReferences>
            <choiceReferences>MLVBenefitsChoice</choiceReferences>
            <choiceReferences>MLVClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>MLVClaimSubmissionChoice</choiceReferences>
            <choiceReferences>MLVClaimInquiryStatusChoice</choiceReferences>
            <choiceReferences>MLV2020SourceLoginChoice</choiceReferences>
            <choiceReferences>MLVComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1354</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please send an email to apquestions@vsp.com. Refer to 2020Source support quick reference guide for additional instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen_0</name>
        <label>Source2020LoginScreen</label>
        <locationX>1345</locationX>
        <locationY>357</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please send an email to apquestions@vsp.com for assistance.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WMSCCallerScreen</name>
        <label>WMSCCallerScreen</label>
        <locationX>220</locationX>
        <locationY>42</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MLVAssignment_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>WMSCDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WMSCCallerRadio</name>
            <choiceReferences>MatchingWALMWALMQChoice</choiceReferences>
            <choiceReferences>MatchingMedicaidNetworkChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WMSCCallerScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OON_Subflow</name>
        <label>OON Subflow</label>
        <locationX>884</locationX>
        <locationY>22</locationY>
        <flowName>Retail_Service_Center_Call_Flow_OON</flowName>
        <inputAssignments>
            <name>UserTrackingId</name>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCoverage</name>
            <value>
                <elementReference>MLVWalmartConstant</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMLVAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varWMCaller</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
