src/flows/Retail_Service_Center_Call_Flow_Retail_Match.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>RetailMatchAssignment</name>
        <label>RetailMatchAssignment</label>
        <locationX>461</locationX>
        <locationY>153</locationY>
        <assignmentItems>
            <assignToReference>varRetailMatchAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailMatchAuthorizationChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuthorizationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RetailMatchAssignment_0</name>
        <label>RetailMatchAssignment</label>
        <locationX>704</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>varRetailMatchAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BenefitsChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BenefitsScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatch2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchClaimsChoice</name>
        <choiceText>Claim Adjustment/Submission/Inquiry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment/Submission/Inquiry</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>RetailMatchConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail Match</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_the_caller_state_they_received_an_error_message</name>
        <label>Did the caller state they received an error message?</label>
        <locationX>571</locationX>
        <locationY>462</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ErrorYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>ErrorYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>264</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>364</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error_0</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>87</locationX>
        <locationY>501</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>693</locationX>
        <locationY>164</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_3_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatchAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailMatchAssignment</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RetailMatchAssignment_0</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatch2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0_0</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>ClaimsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatchClaimsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ClaimsScreen</targetReference>
            </connector>
            <label>ClaimsDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_claim</name>
        <label>What type of claim?</label>
        <locationX>819</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ClaimYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3_0</targetReference>
            </connector>
            <label>ClaimYesDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Retail Service Center Call Flow - Retail Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - Retail Match</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>373</locationX>
        <locationY>662</locationY>
        <connector>
            <targetReference>AuthorizationNoScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!varRetailMatchAssignment} - {!NoChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>228</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!varRetailMatchAssignment} - {!YesChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>1055</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>ClaimInquiryScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!RetailMatchClaimsChoice} - {!NoChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0</name>
        <label>Update User Record</label>
        <locationX>1044</locationX>
        <locationY>439</locationY>
        <connector>
            <targetReference>ClaimStatusAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!RetailMatchClaimsChoice} - {!YesChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0</name>
        <label>Update User Record</label>
        <locationX>1041</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!RetailMatch2020SourceLoginChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3_0_0_0</name>
        <label>Update User Record</label>
        <locationX>1033</locationX>
        <locationY>166</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!RetailMatchConstant} - {!RetailMatchComplaintChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>94</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error_0</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>509</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationNoDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;This member is active and available. You should be able to locate benefits and retrieve an authorization using 2020Source. If you&apos;re still experiencing issues please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>278</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;Did you receive an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>458</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>225</locationX>
        <locationY>663</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>579</locationX>
        <locationY>322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_caller_state_they_received_an_error_message</targetReference>
        </connector>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You can view the patient&apos;s benefits information on the 2020Source eligibility report.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Did the caller state they received an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimInquiryScreen</name>
        <label>ClaimInquiryScreen</label>
        <locationX>1203</locationX>
        <locationY>581</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimInquiryDisplay</name>
            <fieldText>&lt;p&gt;Do not assist the caller with claim related questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please refer to your retail provider manual on 2020Source for further instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimsScreen</name>
        <label>ClaimsScreen</label>
        <locationX>826</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_type_of_claim</targetReference>
        </connector>
        <fields>
            <name>ClaimsDisplay</name>
            <fieldText>&lt;p&gt;Costco caller?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ClaimsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimStatusAdjustmentScreen</name>
        <label>ClaimStatusAdjustmentScreen</label>
        <locationX>1191</locationX>
        <locationY>442</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimStatusAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not assist with claim related questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. I&apos;ll transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer to 1119044 without an announcement.&lt;/p&gt;&lt;p&gt;A message will provided instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they recieved regarding a claim they already sent in, say &lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Exception: For immediate negation for materials replacement, transfer to the SQ escalation line.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1178</locationX>
        <locationY>165</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RetailMatchScreen</name>
        <label>RetailMatchScreen</label>
        <locationX>701</locationX>
        <locationY>51</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
        <fields>
            <name>RetailMatchDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RetailMatchRadio</name>
            <choiceReferences>RetailMatchAuthorizationChoice</choiceReferences>
            <choiceReferences>BenefitsChoice</choiceReferences>
            <choiceReferences>RetailMatchClaimsChoice</choiceReferences>
            <choiceReferences>RetailMatch2020SourceLoginChoice</choiceReferences>
            <choiceReferences>RetailMatchComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1177</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;Email apquestions@vsp.com. Refer to 2020Source support quick reference guide for additional instructions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>RetailMatchScreen</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetailMatchAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
