src/flows/Retail_Service_Center_Call_Flow_OON.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>OONAssignment</name>
        <label>OONAssignment</label>
        <locationX>388</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>varOON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OONRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_provider_looking_for</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>OON2020SourceAssistanceChoice</name>
        <choiceText>2020Source Troubleshooting error messages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Troubleshooting error messages</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONClaimAdjustmentChoice</name>
        <choiceText>Claim Adjustment/Inquiry/Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment/Inquiry/Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONDocumentAComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONEligibilityChoice</name>
        <choiceText>Authorization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorization</stringValue>
        </value>
    </choices>
    <constants>
        <name>CoverageConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </constants>
    <decisions>
        <name>What_is_the_retail_provider_looking_for</name>
        <label>What is the retail provider looking for?</label>
        <locationX>534</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EligibilityBenefitsDecision</defaultConnectorLabel>
        <rules>
            <name>Source2020AssistanceDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OON2020SourceAssistanceChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0</targetReference>
            </connector>
            <label>Source2020AssistanceDecision</label>
        </rules>
        <rules>
            <name>ComplaintDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONDocumentAComplaintChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_1</targetReference>
            </connector>
            <label>ComplaintDecision</label>
        </rules>
        <rules>
            <name>ClaimAdjustmentDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_2</targetReference>
            </connector>
            <label>ClaimAdjustmentDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Retail Service Center Call Flow - OON {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - OON</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>379</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>EligibilityScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!varOON}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>650</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Source2020AssistanceScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!varOON}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>808</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!varOON}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>806</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>ClaimAdjustmentScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!varCoverage} - {!CoverageConstant} - {!varOON}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>ClaimAdjustmentScreen</name>
        <label>ClaimAdjustmentScreen</label>
        <locationX>960</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimAdjustmentDisplay</name>
            <fieldText>&lt;p&gt;Do not handle claim adjustments or provide claim status.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Walmart &amp;amp; Sam&apos;s Club: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please email CLSSUPPORT@vsp.com with your request. For additional instructions, refer to your claim payment and adjustment quick reference guide.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Affiliate, CGVN, CVS, MLVN:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that but I can transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller requests a copy of their EOP: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com to request a copy of your EOP.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>957</locationX>
        <locationY>174</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to your manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EligibilityScreen</name>
        <label>EligibilityScreen</label>
        <locationX>377</locationX>
        <locationY>461</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EligibilityDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this patient&apos;s plan and our policy is to provide information to members only. Please have them contact Member Services directly at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONScreen</name>
        <label>OONScreen</label>
        <locationX>243</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>OONAssignment</targetReference>
        </connector>
        <fields>
            <name>OONDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OONRadio</name>
            <choiceReferences>OONEligibilityChoice</choiceReferences>
            <choiceReferences>OONBenefitsChoice</choiceReferences>
            <choiceReferences>OONClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>OON2020SourceAssistanceChoice</choiceReferences>
            <choiceReferences>OONDocumentAComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020AssistanceScreen</name>
        <label>Source2020AssistanceScreen</label>
        <locationX>643</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020AssistanceDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please send an email to apquestions@vsp.com for assistance.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>OONScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
