src/flows/Retail_Service_Center_Call_Flow_CGVN.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CGVNAssignment</name>
        <label>CGVNAssignment</label>
        <locationX>404</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>varCGVN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CGVNRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_network_is_the_patient_using_at_this_office</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CGVNAssignment_0</name>
        <label>CGVNDecisionAssignment</label>
        <locationX>424</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>varCGVNDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CGVNDecisionRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CGVN2020SourceLoginChoice</name>
        <choiceText>2020Source Troubleshooting error messages</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Troubleshooting error messages</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNChoice</name>
        <choiceText>CGVN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CGVN</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNClaimStatusChoice</name>
        <choiceText>Claim Status/Claim Adjustments</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Status/Claim Adjustments</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNClaimSubmissionChoice</name>
        <choiceText>Claim Submission Assistance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission Assistance</stringValue>
        </value>
    </choices>
    <choices>
        <name>CGVNComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONChoice</name>
        <choiceText>OON</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OON</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OONYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_the_member_have_a_client_exception</name>
        <label>Does the member have a client exception?</label>
        <locationX>1006</locationX>
        <locationY>275</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OONNoDecision</defaultConnectorLabel>
        <rules>
            <name>OONYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OONYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_5</targetReference>
            </connector>
            <label>OONYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>570</locationX>
        <locationY>298</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CGVNComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>CGVNAuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>CGVNAuthorizationsDecision</label>
        </rules>
        <rules>
            <name>CGVNBenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_0</targetReference>
            </connector>
            <label>CGVNBenefitsDecision</label>
        </rules>
        <rules>
            <name>CGVN2020SourceDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVN2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_1</targetReference>
            </connector>
            <label>CGVN2020SourceDecision</label>
        </rules>
        <rules>
            <name>CGVNClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_2</targetReference>
            </connector>
            <label>CGVNClaimSubmissionDecision</label>
        </rules>
        <rules>
            <name>CGVNClaimStatusDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNClaimStatusChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3</targetReference>
            </connector>
            <label>CGVNClaimStatusDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_network_is_the_patient_using_at_this_office</name>
        <label>What network is the patient using at this office</label>
        <locationX>729</locationX>
        <locationY>82</locationY>
        <defaultConnector>
            <targetReference>OONScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OONDecision</defaultConnectorLabel>
        <rules>
            <name>CGVNDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CGVNChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CGVNDecisionScreen</targetReference>
            </connector>
            <label>CGVNDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>CGVNFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!varCGVN}+&quot; - &quot;+{!varCGVNDecision},100)</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call Flow - CGVN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - CGVN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>308</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>CGVNAuthorizationScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>307</locationX>
        <locationY>424</locationY>
        <connector>
            <targetReference>CGVNBenefitsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_1</name>
        <label>Update User Record</label>
        <locationX>302</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>CGVN2020SourceScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_2</name>
        <label>Update User Record</label>
        <locationX>499</locationX>
        <locationY>494</locationY>
        <connector>
            <targetReference>CGVNClaimsSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>633</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>ClaimsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>772</locationX>
        <locationY>331</locationY>
        <connector>
            <targetReference>CGVNComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>CGVNFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>941</locationX>
        <locationY>435</locationY>
        <connector>
            <targetReference>OONYesScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>varCGVN</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_6</name>
        <label>Update User Record</label>
        <locationX>1104</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>OONNoScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>varCGVN</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>CGVN2020SourceScreen</name>
        <label>CGVN2020SourceScreen</label>
        <locationX>181</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVN2020SourceDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNAuthorizationScreen</name>
        <label>CGVNAuthorizationScreen</label>
        <locationX>183</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNAuthorizationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Issue authorizations to the doctor, OK to fax if requested.&lt;/li&gt;&lt;li&gt;Provide the Cigna Plan Number&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNBenefitsScreen</name>
        <label>CGVNBenefitsScreen</label>
        <locationX>180</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNBenefitsDisplay</name>
            <fieldText>&lt;p&gt;Provide availability and benefit information from the Choice Network.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNClaimsSubmissionScreen</name>
        <label>CGVNClaimsSubmissionScreen</label>
        <locationX>500</locationX>
        <locationY>652</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNClaimsSubmissionDisplay</name>
            <fieldText>&lt;p&gt;Refer the caller to their manual or to call their billing office.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNComplaintScreen</name>
        <label>CGVNComplaintScreen</label>
        <locationX>773</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to your retail provider manual.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNDecisionScreen</name>
        <label>CGVNDecisionScreen</label>
        <locationX>570</locationX>
        <locationY>130</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CGVNAssignment_0</targetReference>
        </connector>
        <fields>
            <name>CGVNDecisionDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CGVNDecisionRadio</name>
            <choiceReferences>CGVNAuthorizationChoice</choiceReferences>
            <choiceReferences>CGVNBenefitsChoice</choiceReferences>
            <choiceReferences>CGVN2020SourceLoginChoice</choiceReferences>
            <choiceReferences>CGVNClaimSubmissionChoice</choiceReferences>
            <choiceReferences>CGVNClaimStatusChoice</choiceReferences>
            <choiceReferences>CGVNComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CGVNScreen</name>
        <label>CGVNScreen</label>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CGVNAssignment</targetReference>
        </connector>
        <fields>
            <name>CGVNDisplay</name>
            <fieldText>&lt;p&gt;What network is the patient using at this office?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CGVNRadio</name>
            <choiceReferences>CGVNChoice</choiceReferences>
            <choiceReferences>OONChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimsScreen</name>
        <label>CGVNClaimStatusScreen</label>
        <locationX>633</locationX>
        <locationY>651</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CGVNClaimStatusDisplay</name>
            <fieldText>&lt;p&gt;Do not provide claim status or handle claim adjustments.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. I will transfer you to where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONNoScreen</name>
        <label>OONNoScreen</label>
        <locationX>1104</locationX>
        <locationY>595</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OONNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Your office is out of network on this member&apos;s plan. Please have the member call Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONScreen</name>
        <label>OONScreen</label>
        <locationX>1014</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_the_member_have_a_client_exception</targetReference>
        </connector>
        <fields>
            <name>OONDisplay</name>
            <fieldText>&lt;p&gt;Does the member have a client exception stating &quot;No Networks&quot;?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OONRadio</name>
            <choiceReferences>OONYesChoice</choiceReferences>
            <choiceReferences>OONNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OONYesScreen</name>
        <label>OONYesScreen</label>
        <locationX>941</locationX>
        <locationY>592</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OONYesDisplay</name>
            <fieldText>&lt;p&gt;Assist the caller with authorizations, OON benefits and eligibility questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in say &lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CGVNScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCGVN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCGVNDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
