src/flows/Retail_Service_Center_Call_Flow_MLV_Walmart.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>MLVAssignment</name>
        <label>MLVAssignment</label>
        <locationX>433</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>varMLVAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLVAuthorizationChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AuthorizationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MLVAssignment_0</name>
        <label>MLVAssignment</label>
        <locationX>759</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>varMLVAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MLVBenefitsChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BenefitsScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLV2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVBenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVClaimsChoice</name>
        <choiceText>Claim Adjustment/Inquiry/Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment/Inquiry/Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>MLVComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>MLVWalmartConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>MLV Walmart</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_the_caller_state_they_received_an_error_message</name>
        <label>Did the caller state they received an error message?</label>
        <locationX>653</locationX>
        <locationY>439</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BenefitsYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>BenefitsYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>248</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>418</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>SuccessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error_0</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>62</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SuccessfulNoDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SuccessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>677</locationX>
        <locationY>136</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLVAssignment</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVBenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MLVAssignment_0</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLV2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_4</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>ClaimsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MLVClaimsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_3</targetReference>
            </connector>
            <label>ClaimsDecision</label>
        </rules>
    </decisions>
    <interviewLabel>Retail Service Center Call Flow - MLV Walmart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - MLV Walmart</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>410</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>AuthorizationNoScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVWalmartConstant} - {!varMLVAssignment} - {!AuthorizationNoChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_0</name>
        <label>Update User Record</label>
        <locationX>250</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVWalmartConstant} - {!varMLVAssignment} - {!AuthorizationYesChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_3</name>
        <label>Update User Record</label>
        <locationX>979</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>ClaimsScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVWalmartConstant} - {!MLVClaimsChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_4</name>
        <label>Update User Record</label>
        <locationX>982</locationX>
        <locationY>270</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVWalmartConstant} - {!MLV2020SourceLoginChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_5</name>
        <label>Update User Record</label>
        <locationX>985</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <stringValue>{!MLVWalmartConstant} - {!MLVComplaintChoice}</stringValue>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>75</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error_0</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>556</locationX>
        <locationY>622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationNoDisplay2</name>
            <fieldText>&lt;p&gt;Issue an authorization to the member&apos;s address.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>262</locationX>
        <locationY>125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;Did you receive an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>408</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>253</locationX>
        <locationY>631</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>602</locationX>
        <locationY>276</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_caller_state_they_received_an_error_message</targetReference>
        </connector>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You can view the patient&apos;s benefit information on the 2020Source eligibility report.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Did the caller state they received an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimsScreen</name>
        <label>ClaimsScreen</label>
        <locationX>1110</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimsDisplay</name>
            <fieldText>&lt;p&gt;Do not assist caller with claim related questions.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that. Please refer to your retail provider manual.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1093</locationX>
        <locationY>120</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MLVScreen</name>
        <label>MLVScreen</label>
        <locationX>686</locationX>
        <locationY>17</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
        <fields>
            <name>MLVDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MLVRadio</name>
            <choiceReferences>MLVAuthorizationChoice</choiceReferences>
            <choiceReferences>MLVBenefitsChoice</choiceReferences>
            <choiceReferences>MLVClaimsChoice</choiceReferences>
            <choiceReferences>MLV2020SourceLoginChoice</choiceReferences>
            <choiceReferences>MLVComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1103</locationX>
        <locationY>269</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;Email apquestions@vsp.com. Refer to 2020Source support quick reference guide for additional instructions.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>MLVScreen</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMLVAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
