src/flows/Retail_Service_Center_Call_Flow_Retail_Match.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>RetailMatchAssignment_0_0</name>
        <label>RetailMatchAssignment</label>
        <locationX>806</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>varRetailMatchAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RetailMatchRadio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>What_is_the_retail_chain_looking_for</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AuthorizationNoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>AuthorizationYesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>BenefitsChoice</name>
        <choiceText>Benefits</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatch2020SourceLoginChoice</name>
        <choiceText>2020Source Login/System issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2020Source Login/System issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchAuthorizationChoice</name>
        <choiceText>Authorizations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Authorizations</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchClaimAdjustmentChoice</name>
        <choiceText>Claim Adjustment (change a service, negate/reverse a claim, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Adjustment (change a service, negate/reverse a claim, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchClaimInquiryStatusChoice</name>
        <choiceText>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Inquiry/Status (was a claim paid, why was it denied, copy of EOP, etc.)</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchClaimSubmissionChoice</name>
        <choiceText>Claim Submission</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Claim Submission</stringValue>
        </value>
    </choices>
    <choices>
        <name>RetailMatchComplaintChoice</name>
        <choiceText>Complaints/Escalations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Complaints/Escalations</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>RetailMatchConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Retail Match</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_the_caller_state_they_received_an_error_message</name>
        <label>Did the caller state they received an error message?</label>
        <locationX>545</locationX>
        <locationY>527</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ErrorYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>ErrorYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_you_receive_an_error_message</name>
        <label>Did you receive an error message?</label>
        <locationX>238</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AuthorizationNoScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AuthorizationNoDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationYesDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>AuthorizationYesDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</name>
        <label>Is there an outstanding authorization on the CC Portal Eligibility tab?</label>
        <locationX>359</locationX>
        <locationY>150</locationY>
        <defaultConnector>
            <targetReference>AuthorizationScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMatchingAFPRAFPRQDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AuthorizationYesChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record2</targetReference>
            </connector>
            <label>YesMatchingAFPRAFPRQDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>338</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_you_able_to_resolve_their_2020Source_error_0</name>
        <label>Were you able to resolve their 2020Source error?</label>
        <locationX>61</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SucessfulNoDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationYesScreen</targetReference>
            </connector>
            <label>SucessfulNoDecision</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_the_retail_chain_looking_for</name>
        <label>What is the retail chain looking for?</label>
        <locationX>809</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ComplaintsDecision</defaultConnectorLabel>
        <rules>
            <name>AuthorizationsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatchAuthorizationChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AuthorizationScreen1</targetReference>
            </connector>
            <label>AuthorizationsDecision</label>
        </rules>
        <rules>
            <name>BenefitsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BenefitsChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BenefitsScreen</targetReference>
            </connector>
            <label>BenefitsDecision</label>
        </rules>
        <rules>
            <name>Source2020LoginDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatch2020SourceLoginChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record5</targetReference>
            </connector>
            <label>Source2020LoginDecision</label>
        </rules>
        <rules>
            <name>ClaimAdjustmentInquiryDecision</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatchClaimAdjustmentChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RetailMatchClaimInquiryStatusChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record4</targetReference>
            </connector>
            <label>ClaimAdjustmentInquiryDecision</label>
        </rules>
        <rules>
            <name>ClaimSubmissionDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetailMatchClaimSubmissionChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record3</targetReference>
            </connector>
            <label>ClaimSubmissionDecision</label>
        </rules>
    </decisions>
    <formulas>
        <name>RetailMatchFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!varCoverage}+&quot; - &quot; +{!RetailMatchConstant}+&quot; - &quot; +{!varRetailMatchAssignment},100)</expression>
    </formulas>
    <interviewLabel>Retail Service Center Call Flow - Retail Match {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retail Service Center Call Flow - Retail Match</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>347</locationX>
        <locationY>727</locationY>
        <connector>
            <targetReference>AuthorizationNoScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record1</name>
        <label>Update User Record</label>
        <locationX>202</locationX>
        <locationY>613</locationY>
        <connector>
            <targetReference>AuthorizationYesScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record2</name>
        <label>Update User Record</label>
        <locationX>240</locationX>
        <locationY>110</locationY>
        <connector>
            <targetReference>AuthorizationScreen2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record3</name>
        <label>Update User Record</label>
        <locationX>1272</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>ClaimSubmissionScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record4</name>
        <label>Update User Record</label>
        <locationX>1267</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>ClaimAdjustmentInquiryScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record5</name>
        <label>Update User Record</label>
        <locationX>1269</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>Source2020LoginScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record6</name>
        <label>Update User Record</label>
        <locationX>1261</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ComplaintScreen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserTrackingId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Path__c</field>
            <value>
                <elementReference>RetailMatchFormula</elementReference>
            </value>
        </inputAssignments>
        <object>User_Flow_Tracking__c</object>
    </recordUpdates>
    <screens>
        <name>AuthorizationNoScreen</name>
        <label>AuthorizationNoScreen</label>
        <locationX>68</locationX>
        <locationY>415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error_0</targetReference>
        </connector>
        <fields>
            <name>AuthorizationNoDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please log in to 2020Source and attempt to get an authorization.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were they successful?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationNoRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationNoScreen2</name>
        <label>AuthorizationNoScreen2</label>
        <locationX>483</locationX>
        <locationY>730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationNoDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;This member is active and available. You should be able to locate benefits and retrieve an authorization using 2020Source. If you&apos;re still experiencing issues please have the member contact Member Services at 800-877-7195.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen</name>
        <label>AuthorizationScreen</label>
        <locationX>104</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_you_receive_an_error_message</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Did you receive an error message?&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen1</name>
        <label>AuthorizationScreen1</label>
        <locationX>486</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_there_an_outstanding_authorization_on_the_CC_Portal_Eligibility_tab</targetReference>
        </connector>
        <fields>
            <name>AuthorizationDisplay_0</name>
            <fieldText>&lt;p&gt;Is there an outstanding authorization on the CC Portal Eligibility tab?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MatchingAFPRRadio</name>
            <choiceReferences>AuthorizationYesChoice</choiceReferences>
            <choiceReferences>AuthorizationNoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationScreen2</name>
        <label>AuthorizationScreen2</label>
        <locationX>129</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationDisplay_0_0</name>
            <fieldText>&lt;p&gt;Refer to Knowledge: &lt;i&gt;Outstanding Authorizations (Retail Partners)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen</name>
        <label>AuthorizationYesScreen</label>
        <locationX>432</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Were_you_able_to_resolve_their_2020Source_error</targetReference>
        </connector>
        <fields>
            <name>AuthorizationYesDisplay</name>
            <fieldText>&lt;p&gt;Access the 2020Source.com Error Message page and assist the caller.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Were you able to resolve their 2020Source error?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AuthorizationYesRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AuthorizationYesScreen2</name>
        <label>AuthorizationYesScreen2</label>
        <locationX>199</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AuthorizationYesDisplay2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Great! Glad I was able to help.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>BenefitsScreen</name>
        <label>BenefitsScreen</label>
        <locationX>553</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Did_the_caller_state_they_received_an_error_message</targetReference>
        </connector>
        <fields>
            <name>BenefitsDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;You can view the patient&apos;s benefits information on the 2020Source eligibility report.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Did the caller state they received an error message?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BenefitsRadio</name>
            <choiceReferences>YesChoice</choiceReferences>
            <choiceReferences>NoChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimAdjustmentInquiryScreen</name>
        <label>ClaimAdjustmentInquiryScreen</label>
        <locationX>1409</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimAdjustmentInquiryDisplay</name>
            <fieldText>&lt;p&gt;Do not assist with claim related questions or inquiries.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;I&apos;m not able to assist you with that but I can transfer you where you can get this information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Transfer the caller to the CAIR line (x1119044) without an announcement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A message will provide instructions.&lt;/p&gt;&lt;p&gt;Do not discuss instructions or procedures.&lt;/p&gt;&lt;p&gt;If they have a question about an email they received regarding a claim they already sent in:&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please reply to the email. I&apos;m not able to assist you.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the caller requests a copy of their EOP: &lt;b style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102); background-color: rgb(255, 255, 255);&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com to request a copy of your EOP.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ClaimSubmissionScreen</name>
        <label>ClaimSubmissionScreen</label>
        <locationX>1423</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClaimInquiryDisplay_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(51, 0, 102); font-family: sans-serif; font-size: 16px;&quot;&gt;&lt;i&gt;&quot;Please refer to your retail provider manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ComplaintScreen</name>
        <label>ComplaintScreen</label>
        <locationX>1406</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ComplaintDisplay</name>
            <fieldText>&lt;p&gt;Do not handle complaints or escalations for retail partners.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;To file a complaint, please refer to the Provider Reference Manual on 2020Source for instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;You can contact your company headquarters for additional information.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RetailMatchScreen</name>
        <label>RetailMatchScreen</label>
        <locationX>430</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RetailMatchAssignment_0_0</targetReference>
        </connector>
        <fields>
            <name>RetailMatchDisplay</name>
            <fieldText>&lt;p&gt;What is the retail partner looking for?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RetailMatchRadio</name>
            <choiceReferences>RetailMatchAuthorizationChoice</choiceReferences>
            <choiceReferences>BenefitsChoice</choiceReferences>
            <choiceReferences>RetailMatchClaimAdjustmentChoice</choiceReferences>
            <choiceReferences>RetailMatchClaimSubmissionChoice</choiceReferences>
            <choiceReferences>RetailMatchClaimInquiryStatusChoice</choiceReferences>
            <choiceReferences>RetailMatch2020SourceLoginChoice</choiceReferences>
            <choiceReferences>RetailMatchComplaintChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selection:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Source2020LoginScreen</name>
        <label>Source2020LoginScreen</label>
        <locationX>1405</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Source2020LoginDisplay</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: sans-serif; color: rgb(51, 0, 102);&quot;&gt;&lt;i&gt;&quot;Please email apquestions@vsp.com. Refer to 2020Source support quick reference guide for additional instructions.&quot;&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RetailMatchScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AuthenticatingResource</name>
        <text>Obtain and verify each of the following matches the information populated in CC Portal.
&lt;ul&gt;
	&lt;li&gt;Caller&apos;s name&lt;/li&gt;
	&lt;li&gt;Doctor/Practice name&lt;/li&gt;
	&lt;li&gt;Office address&lt;/li&gt;
	&lt;li&gt;And 2 of the following:
	&lt;ul&gt;
		&lt;li&gt;Member/Patient name&lt;/li&gt;
		&lt;li&gt;Date of birth&lt;/li&gt;
		&lt;li&gt;Member&apos;s address&lt;/li&gt;
		&lt;li&gt;Client name&lt;/li&gt;
		&lt;li&gt;Past service information&lt;/li&gt;
		&lt;li&gt;Authorization/Claim number&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>UserTrackingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCoverage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRetailMatchAssignment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
