src/flows/Strategic_Agreement_Optics_Only_Opportunity_Approval_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_Step_1_Reject_Optics_Submitter</name>
        <label>Email Alert Step 1 Reject Optics Submitter</label>
        <locationX>3092</locationX>
        <locationY>959</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailOpticsSubmitter</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_1_Reject_Opty_Owner</name>
        <label>Email Alert Step 1 Reject Opty Owner</label>
        <locationX>3889</locationX>
        <locationY>1091</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_1_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 1 Reject Opty Owner Manager</label>
        <locationX>4268</locationX>
        <locationY>1088</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Closed_Won</name>
        <label>Email Alert Step 4 Closed Won</label>
        <locationX>1100</locationX>
        <locationY>578</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Closed_Won_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Optics Only Strategic Agreement Opportunity has been Won!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_GBDM</name>
        <label>Email Alert Step 4 Reject GBDM</label>
        <locationX>1871</locationX>
        <locationY>1729</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GBDM_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailGlobalRVP_Step3</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Optics_Submitter</name>
        <label>Email Alert Step 4 Reject Optics Submitter</label>
        <locationX>2062</locationX>
        <locationY>1563</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Task_Record_for_GBDM</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailOpticsSubmitter</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner</name>
        <label>Email Alert Step 4 Reject Opty Owner</label>
        <locationX>555</locationX>
        <locationY>1117</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_0</name>
        <label>Email Alert Step 4 Reject Opty Owner</label>
        <locationX>1016</locationX>
        <locationY>1717</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 4 Reject Opty Owner Manager</label>
        <locationX>406</locationX>
        <locationY>931</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_Manager_0</name>
        <label>Email Alert Step 4 Reject Opty Owner Manager</label>
        <locationX>867</locationX>
        <locationY>1531</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Provider_Operations</name>
        <label>Email Alert Step 4 Reject Provider Operations</label>
        <locationX>50</locationX>
        <locationY>1122</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep4ProviderOperations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Provider_Operations_0</name>
        <label>Email Alert Step 4 Reject Provider Operations</label>
        <locationX>511</locationX>
        <locationY>1722</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep4ProviderOperations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_5_Reject_Optics_Submitter</name>
        <label>Email Alert Step 5 Reject Optics Submitter</label>
        <locationX>1966</locationX>
        <locationY>971</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Step_4</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailOpticsSubmitter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Opty_Owner_Manager_to_Email_Collection_Step_8_Closed_Won</name>
        <label>Add Opty Owner Manager to Email Collection Step 8 Closed Won</label>
        <locationX>1521</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Group_Email_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opty_Owner_to_Email_Collection_Step_8_Closed_Won</name>
        <label>Add Opty Owner to Email Collection Step 8 Closed Won</label>
        <locationX>1649</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opty_Owner_Manager_to_Email_Collection_Step_8_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0</name>
        <label>Create Group Email Collection</label>
        <locationX>1580</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_4.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_4.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0_0_0_0</name>
        <label>Create Group Email Collection</label>
        <locationX>1735</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Provider_Group_Members_Email_Step_8_Closed_Won.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Provider_Group_Members_Email_Step_8_Closed_Won.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0</name>
        <label>Set Task Collection</label>
        <locationX>1314</locationX>
        <locationY>1335</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Group_Members_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3375</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3676</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2951</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_1_Reject_Optics_Submitter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1047</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>713</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1529</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1195</locationX>
        <locationY>1875</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1997</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_GBDM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2200</locationX>
        <locationY>1563</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Optics_Submitter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2102</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_5_Reject_Optics_Submitter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_0</name>
        <label>Set Task Record</label>
        <locationX>1469</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_4.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_GBDM</name>
        <label>Set Task Record for GBDM</label>
        <locationX>2177</locationX>
        <locationY>1714</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GBDM_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Optics_Submitter</name>
        <label>Set Task Record for Optics Submitter</label>
        <locationX>2809</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Optics_Submitter_0_0</name>
        <label>Set Task Record for Optics Submitter</label>
        <locationX>2319</locationX>
        <locationY>1566</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Optics_Submitter_0_0_0</name>
        <label>Set Task Record for Optics Submitter</label>
        <locationX>2230</locationX>
        <locationY>972</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Optics_Only_Submitter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>3241</locationX>
        <locationY>1101</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>1251</locationX>
        <locationY>1120</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>1733</locationX>
        <locationY>1720</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>3581</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>890</locationX>
        <locationY>1275</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>1372</locationX>
        <locationY>1875</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement (Optics Only) Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GBDM_Found</name>
        <label>GBDM Found?</label>
        <locationX>2821</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_GBDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Global_RVP_User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Global_RVP_Manager</targetReference>
            </connector>
            <label>Found GBDM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Global_RVP_Empty</name>
        <label>Get Global RVP Empty?</label>
        <locationX>2618</locationX>
        <locationY>469</locationY>
        <defaultConnector>
            <targetReference>GBDM_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_Not_Null_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.Global_Business_Development_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Global_RVP_User</targetReference>
            </connector>
            <label>Global Not Null on Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Submitted</name>
        <label>Initial Submitted</label>
        <locationX>2407</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Approve_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Only_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Info</targetReference>
            </connector>
            <label>Optics Only Submitted</label>
        </rules>
        <rules>
            <name>Step_5_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 5 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_Operations_Group_Step_8_Closed_Won</targetReference>
            </connector>
            <label>Step 5 Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null</name>
        <label>Is Manager Id Null</label>
        <locationX>3503</locationX>
        <locationY>1102</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0</name>
        <label>Is Manager Id Null</label>
        <locationX>889</locationX>
        <locationY>1122</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0_0</name>
        <label>Is Manager Id Null</label>
        <locationX>1371</locationX>
        <locationY>1722</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank</name>
        <label>Manager Email Not Blank</label>
        <locationX>4039</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_1_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>398</locationX>
        <locationY>1119</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Group_Email_Collection_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>859</locationX>
        <locationY>1719</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Group_Email_Collection_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_Manager_0</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optics_Submitter_Found</name>
        <label>Optics Submitter Found</label>
        <locationX>2637</locationX>
        <locationY>1072</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Submitter_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Optics_Only_Submitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Optics_Submitter</targetReference>
            </connector>
            <label>Optics Submitter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optics_Submitter_Found_0_0_0_0_0</name>
        <label>Optics Submitter Found</label>
        <locationX>2399</locationX>
        <locationY>1702</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Record_for_GBDM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Submitter_Found_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Optics_Only_Submitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Optics_Submitter_0_0</targetReference>
            </connector>
            <label>Optics Submitter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optics_Submitter_Found_0_0_0_0_0_0_0</name>
        <label>Optics Submitter Found</label>
        <locationX>2228</locationX>
        <locationY>1136</locationY>
        <defaultConnector>
            <targetReference>Get_Provider_Operations_Group_Step_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Submitter_Found_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Optics_Only_Submitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Optics_Submitter_0_0_0</targetReference>
            </connector>
            <label>Optics Submitter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Approval_Step</name>
        <label>What Approval Step</label>
        <locationX>2412</locationX>
        <locationY>1135</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Only_Step_1_2_Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Step 1 - Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Step 2 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optics_Submitter_Found</targetReference>
            </connector>
            <label>Optics Only Step 1 &amp; 2 Reject</label>
        </rules>
        <rules>
            <name>Optics_Only_Step_4_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Step 4 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optics_Submitter_Found_0_0_0_0_0</targetReference>
            </connector>
            <label>Optics Only Step 4 Reject</label>
        </rules>
        <rules>
            <name>Optics_Only_Step_3_5_Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Step 5 - Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Optics Only Step 3 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Optics_Submitter_Found_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Optics Only Step 3 &amp; 5 Reject</label>
        </rules>
    </decisions>
    <formulas>
        <name>Approver_ID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>OpticsSubmitter</name>
        <dataType>String</dataType>
        <expression>{!$Label.Optics_Only_Initial_Submitter}</expression>
    </formulas>
    <formulas>
        <name>Opty_URL_Test</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Opportunity_ID}</expression>
    </formulas>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Tomorrow_Date_8am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(TODAY()+1)
+
&quot; &quot; +
&apos;15:00:00&apos;
)</expression>
    </formulas>
    <interviewLabel>Strategic Agreement (Optics Only) Opportunity Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Strategic Agreement (Optics Only) Opportunity Approval Flow</label>
    <loops>
        <name>Loop_Thru_Group_Email_Collection</name>
        <label>Loop Thru Group Email Collection</label>
        <locationX>1302</locationX>
        <locationY>581</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_4_Closed_Won</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Group_Email_Collection_0</name>
        <label>Loop Thru Group Email Collection</label>
        <locationX>222</locationX>
        <locationY>1122</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_4_Reject_Provider_Operations</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Group_Email_Collection_0_0_0</name>
        <label>Loop Thru Group Email Collection</label>
        <locationX>683</locationX>
        <locationY>1722</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_4_Reject_Provider_Operations_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_0</name>
        <label>Loop thru Group Members</label>
        <locationX>1560</locationX>
        <locationY>1131</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Provider_Operations_Group_Members_Step_4</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_4</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</name>
        <label>Loop thru Provider Group Members Step 8 Closed Won</label>
        <locationX>1833</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Provider_Group_Members_Email_Step_8_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Opty_Owner_to_Email_Collection_Step_8_Closed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks_0_0</name>
        <label>Create Tasks</label>
        <locationX>3752</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Email_Alert_Step_1_Reject_Opty_Owner</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0_0_0</name>
        <label>Create Tasks</label>
        <locationX>714</locationX>
        <locationY>1117</locationY>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Opty_Owner</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0_0_0_0</name>
        <label>Create Tasks</label>
        <locationX>1196</locationX>
        <locationY>1717</locationY>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_0</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>2552</locationX>
        <locationY>641</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Global_RVP_Empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Global_Business_Development_Manager__c</queriedFields>
        <queriedFields>Optics_Wholesale__c</queriedFields>
        <queriedFields>MDM_Account_Keys__c</queriedFields>
        <queriedFields>MDM_Location_Keys__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approve_Name</name>
        <label>Get Approve Name</label>
        <locationX>2418</locationX>
        <locationY>771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Optics_Only_Submitter</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approver_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Global_RVP_User</name>
        <label>Get Global RVP User</label>
        <locationX>2704</locationX>
        <locationY>676</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GBDM_Found</targetReference>
        </connector>
        <filters>
            <field>Gat_Formula_for_Approval_Process__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Account_Info.Global_Business_Development_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_4</name>
        <label>Get Group Members Email Step 4</label>
        <locationX>1719</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Optics_Only_Submitter</name>
        <label>Get Optics Only Submitter</label>
        <locationX>2418</locationX>
        <locationY>953</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Approval_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpticsSubmitter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Group_Members_Email_Step_8_Closed_Won</name>
        <label>Get Provider Group Members Email Step 8 Closed Won</label>
        <locationX>1888</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Members_Step_4</name>
        <label>Get Provider Operations Group Members Step 4</label>
        <locationX>1726</locationX>
        <locationY>1131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_0</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Operations_Group_Step_4.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</name>
        <label>Get Provider Operations Group Members Step 8 Closed Won</label>
        <locationX>1984</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Operations_Group_Step_8_Closed_Won.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Step_4</name>
        <label>Get Provider Operations Group Step 4</label>
        <locationX>1887</locationX>
        <locationY>1131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Members_Step_4</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Step_8_Closed_Won</name>
        <label>Get Provider Operations Group Step 8 Closed Won</label>
        <locationX>2157</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Global_RVP_Manager</name>
        <label>Update Opportunity Global RVP Manager</label>
        <locationX>3089</locationX>
        <locationY>496</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategic_AP_Global_RVP_Manager__c</field>
            <value>
                <elementReference>Get_Global_RVP_User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>2415</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Initial_Submitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Closed_Won_Text_Template</name>
        <text>{!Opty_URL_Test}

Common Account Name: {!Account_Name}
Opportunity Name: {!Opportunity_Name}
Opportunity Sales Stage: Closed Won</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailGlobalRVP_Step3</name>
        <text>New Task
To: {!GBDM_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement (Optics Only) Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailOpticsSubmitter</name>
        <text>New Task
To: {!Get_Optics_Only_Submitter.Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement (Optics Only) Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep1</name>
        <text>New Task
To: {!Opty_Owner_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please work back with your manager if you have any questions.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep2</name>
        <text>New Task
To: {!Opty_Owner_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement (Optics Only) Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:

{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep2Manager</name>
        <text>New Task
To: {!Opty_Owner_Manager_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement (Optics Only) Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep4ProviderOperations</name>
        <text>New Task
To: Provider Operations
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement (Optics Only) Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep5ProviderOpAndEyewear</name>
        <text>New Task
To: Provider Operations &amp; Eyewear Leadership
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep6Eyewear</name>
        <text>New Task
To: Eyewear Leadership
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approval_Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GBDM_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GBDM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GBDM_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopGroupEmailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varLoopUserText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
