src/flows/Strategic_Agreement_Opportunity_Approval_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_Eyewear</name>
        <label>Email Alert Eyewear</label>
        <locationX>2515</locationX>
        <locationY>1987</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Group_Members_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0_0.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailEyewear</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Eyewear_0</name>
        <label>Email Alert Eyewear</label>
        <locationX>1365</locationX>
        <locationY>2022</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Group_Members_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailEyewear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Group_Members_Email_Step_6.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Eyewear_0_0</name>
        <label>Email Alert Eyewear</label>
        <locationX>2422</locationX>
        <locationY>2382</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_thru_Group_Members_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailEyewear</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_1_Reject_Opty_Owner</name>
        <label>Email Alert Step 1 Reject Opty Owner</label>
        <locationX>3010</locationX>
        <locationY>884</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep1</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_2_Reject_Opty_Owner</name>
        <label>Email Alert Step 2 Reject Opty Owner</label>
        <locationX>3393</locationX>
        <locationY>1130</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_2_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 2 Reject Opty Owner Manager</label>
        <locationX>3772</locationX>
        <locationY>1127</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Optics_Submitter</name>
        <label>Email Alert Step 4 Reject Optics Submitter</label>
        <locationX>2992</locationX>
        <locationY>1404</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Task_Record_for_Opty_Owner</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Optics_Submitter.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailOpticsSubmitter</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Optics_Submitter_0</name>
        <label>Email Alert Step 4 Reject Optics Submitter</label>
        <locationX>3590</locationX>
        <locationY>1759</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailOpticsSubmitter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Optics_Submitter_0.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner</name>
        <label>Email Alert Step 4 Reject Opty Owner</label>
        <locationX>3826</locationX>
        <locationY>1405</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_0</name>
        <label>Email Alert Step 4 Reject Opty Owner</label>
        <locationX>4424</locationX>
        <locationY>1760</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 4 Reject Opty Owner Manager</label>
        <locationX>4185</locationX>
        <locationY>1404</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_4_Reject_Opty_Owner_Manager_0</name>
        <label>Email Alert Step 4 Reject Opty Owner Manager</label>
        <locationX>4783</locationX>
        <locationY>1759</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_5_Reject_Opty_Owner</name>
        <label>Email Alert Step 5 Reject Opty Owner</label>
        <locationX>4433</locationX>
        <locationY>2168</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_5_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 5 Reject Opty Owner Manager</label>
        <locationX>4576</locationX>
        <locationY>1977</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Email_Collection_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_5_Reject_Provider_Operations</name>
        <label>Email Alert Step 5 Reject Provider Operations</label>
        <locationX>4931</locationX>
        <locationY>2171</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Email_Collection_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep4ProviderOperations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_6_Reject_Opty_Owner_0</name>
        <label>Email Alert Step 6 Reject Opty Owner</label>
        <locationX>715</locationX>
        <locationY>1854</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Manager_Email_Not_Blank_0_0_0_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_6_Reject_Opty_Owner_Manager</name>
        <label>Email Alert Step 6 Reject Opty Owner Manager</label>
        <locationX>350</locationX>
        <locationY>1731</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2Manager</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_7_Reject_Provider_Operations</name>
        <label>Email Alert Step 7 Reject Provider Operations</label>
        <locationX>703</locationX>
        <locationY>1411</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Email_Collection_0</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep4ProviderOperations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_8_Reject_GBDM</name>
        <label>Email Alert Step 8 Reject GBDM</label>
        <locationX>1448</locationX>
        <locationY>1121</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectEmailStep2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GBDM_Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_Step_9_Closed_Won</name>
        <label>Email Alert Step 9 Closed Won</label>
        <locationX>250</locationX>
        <locationY>574</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Thru_Email_Collection</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Closed_Won_Text_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Strategic Agreement Opportunity has been Won!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varLoopGroupEmailText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Opty_Owner_Manager_to_Email_Collection_Step_8_Closed_Won</name>
        <label>Add Opty Owner Manager to Email Collection Step 8 Closed Won</label>
        <locationX>826</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Division_Brand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opty_Owner_to_Email_Collection_Step_8_Closed_Won</name>
        <label>Add Opty Owner to Email Collection Step 8 Closed Won</label>
        <locationX>954</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opty_Owner_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opty_Owner_Manager_to_Email_Collection_Step_8_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0</name>
        <label>Create Group Email Collection</label>
        <locationX>2803</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0_0</name>
        <label>Create Group Email Collection</label>
        <locationX>3555</locationX>
        <locationY>2353</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0_0_0</name>
        <label>Create Group Email Collection</label>
        <locationX>1571</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_9_Closed_Won.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_9_Closed_Won.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_9_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0_0_0_0</name>
        <label>Create Group Email Collection</label>
        <locationX>1040</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Provider_Group_Members_Email_Step_9_Closed_Won.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Provider_Group_Members_Email_Step_9_Closed_Won.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_0_0_0_0_0</name>
        <label>Create Group Email Collection</label>
        <locationX>2903</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_Step6</name>
        <label>Create Group Email Collection Step 6</label>
        <locationX>1714</locationX>
        <locationY>2023</locationY>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_6.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Group_Email_Collection_Step_7</name>
        <label>Create Group Email Collection Step 7</label>
        <locationX>1520</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>varGroupEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_7.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGroupUserIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_7.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Record_Step_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0</name>
        <label>Set Task Collection</label>
        <locationX>3180</locationX>
        <locationY>1407</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3614</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2830</locationX>
        <locationY>1396</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Optics_Submitter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3778</locationX>
        <locationY>1762</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2879</locationX>
        <locationY>1138</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3180</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2546</locationX>
        <locationY>2385</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Eyewear_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3325</locationX>
        <locationY>2345</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3943</locationX>
        <locationY>2170</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>4283</locationX>
        <locationY>2304</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1476</locationX>
        <locationY>2035</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Eyewear_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1252</locationX>
        <locationY>1849</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Manager_Id_Null_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>893</locationX>
        <locationY>2005</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>1243</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>2639</locationX>
        <locationY>1989</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Eyewear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>4212</locationX>
        <locationY>1887</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tasks_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Task Collection</label>
        <locationX>3428</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>varTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTaskObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Optics_Submitter_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_0</name>
        <label>Set Task Record</label>
        <locationX>2679</locationX>
        <locationY>2379</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_0_0</name>
        <label>Set Task Record</label>
        <locationX>3446</locationX>
        <locationY>2353</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_0_0_0</name>
        <label>Set Task Record</label>
        <locationX>1607</locationX>
        <locationY>2024</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_6.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_0_0_0_0</name>
        <label>Set Task Record</label>
        <locationX>2779</locationX>
        <locationY>1991</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_5_0_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Optics_Submitter</name>
        <label>Set Task Record for Optics Submitter</label>
        <locationX>2691</locationX>
        <locationY>1396</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Optics_Submitter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Optics_Submitter_0</name>
        <label>Set Task Record for Optics Submitter</label>
        <locationX>3289</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Optics_Submitter_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>3096</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>3694</locationX>
        <locationY>1916</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>2744</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>3805</locationX>
        <locationY>2170</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_0_0_0_0</name>
        <label>Set Task Record for Opty Owner</label>
        <locationX>1429</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>3477</locationX>
        <locationY>1534</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>4075</locationX>
        <locationY>1889</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>3085</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>4110</locationX>
        <locationY>2304</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_for_Opty_Owner_Manager_0_0_0_0</name>
        <label>Set Task Record for Opty Owner Manager</label>
        <locationX>1048</locationX>
        <locationY>2007</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opty_Owner_Manager_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Record_Step_7</name>
        <label>Set Task Record Step 7</label>
        <locationX>1391</locationX>
        <locationY>1609</locationY>
        <assignmentItems>
            <assignToReference>varTaskObj.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Group_Members_Email_Step_7.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.ReminderDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTaskObj.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Task_Collection_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Division_Brand</name>
        <label>Division Brand</label>
        <locationX>657</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_Or_Pathways_Expansion</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Division_Brand</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Global</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opty_Division_Brand</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_Thru_Email_Collection</targetReference>
            </connector>
            <label>Global Or Pathways Expansion</label>
        </rules>
    </decisions>
    <decisions>
        <name>GBDM_Found</name>
        <label>GBDM Found?</label>
        <locationX>2621</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_GBDM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Global_RVP_User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Global_RVP_Manager</targetReference>
            </connector>
            <label>Found GBDM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Global_RVP_Empty</name>
        <label>Get Global RVP Empty?</label>
        <locationX>2436</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>GBDM_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Global_Not_Null_on_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Info.Global_Business_Development_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Global_RVP_User</targetReference>
            </connector>
            <label>Global Not Null on Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initial_Submitted</name>
        <label>Initial Submitted</label>
        <locationX>2185</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Get_Approve_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Info</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Step_9_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 9 - Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eyewear_Leadership_Group_Step_8_Closed_Won</targetReference>
            </connector>
            <label>Step 9 Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null</name>
        <label>Is Manager Id Null</label>
        <locationX>3007</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0_0</name>
        <label>Is Manager Id Null</label>
        <locationX>3412</locationX>
        <locationY>1397</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0_0_0</name>
        <label>Is Manager Id Null</label>
        <locationX>4102</locationX>
        <locationY>2172</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0_0_0_0</name>
        <label>Is Manager Id Null</label>
        <locationX>1036</locationX>
        <locationY>1851</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0_0_0_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Manager_Id_Null_0_0_0_0_0</name>
        <label>Is Manager Id Null</label>
        <locationX>4010</locationX>
        <locationY>1752</locationY>
        <defaultConnector>
            <targetReference>Create_Tasks_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_Id_is_Not_Null_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_Manager_0</targetReference>
            </connector>
            <label>Manager Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank</name>
        <label>Manager Email Not Blank</label>
        <locationX>3543</locationX>
        <locationY>1132</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_2_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>4005</locationX>
        <locationY>1407</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0_0_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>4568</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Email_Collection_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_5_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0_0_0_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>536</locationX>
        <locationY>1856</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_6_Reject_Opty_Owner_Manager</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manager_Email_Not_Blank_0_0_0_0_0</name>
        <label>Manager Email Not Blank</label>
        <locationX>4582</locationX>
        <locationY>1762</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Not_Blank_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opty_Owner_Manager_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_Manager_0</targetReference>
            </connector>
            <label>Email Not Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optics_Submitter_Found</name>
        <label>Optics Submitter Found</label>
        <locationX>2576</locationX>
        <locationY>1565</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Submitter_Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Optics_Submitter</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Optics_Submitter</targetReference>
            </connector>
            <label>Optics Submitter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Optics_Submitter_Found_0_0_0</name>
        <label>Optics Submitter Found</label>
        <locationX>3174</locationX>
        <locationY>1920</locationY>
        <defaultConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Optics_Submitter_Found_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Optics_Submitter_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Optics_Submitter_0</targetReference>
            </connector>
            <label>Optics Submitter Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Approval_Step</name>
        <label>What Approval Step</label>
        <locationX>2190</locationX>
        <locationY>1137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Step_1_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 1 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reject_Task_Step_1_Opty_Owner</targetReference>
            </connector>
            <label>Step 1 Reject</label>
        </rules>
        <rules>
            <name>Step_2_3_Reject</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 2 - Reject</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 3 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Task_Record_for_Opty_Owner_0_0</targetReference>
            </connector>
            <label>Step 2 &amp; 3 Reject</label>
        </rules>
        <rules>
            <name>Step_4_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 4 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Optics_Submitter</targetReference>
            </connector>
            <label>Step 4 Reject</label>
        </rules>
        <rules>
            <name>Step_9_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 9 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eyewear_Leadership_Group</targetReference>
            </connector>
            <label>Step 9 Reject</label>
        </rules>
        <rules>
            <name>Step_6_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 6 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eyewear_Leadership_Group_Step_6</targetReference>
            </connector>
            <label>Step 6 Reject</label>
        </rules>
        <rules>
            <name>Step_7_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 7 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Provider_Operations_Group_Step_7</targetReference>
            </connector>
            <label>Step 7 Reject</label>
        </rules>
        <rules>
            <name>Step_8_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 8 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Reject_Task_Step_8_GBDM</targetReference>
            </connector>
            <label>Step 8 Reject</label>
        </rules>
        <rules>
            <name>Step_5_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Step 5 - Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eyewear_Leadership_Group_Step_5</targetReference>
            </connector>
            <label>Step 5 Reject</label>
        </rules>
    </decisions>
    <formulas>
        <name>Approver_ID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>OpticsSubmitter</name>
        <dataType>String</dataType>
        <expression>{!$Label.Optics_Only_Initial_Submitter}</expression>
    </formulas>
    <formulas>
        <name>Opty_URL_Test</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) + {!Opportunity_ID}</expression>
    </formulas>
    <formulas>
        <name>Todays_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>Tomorrow_Date_8am</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(
TEXT(TODAY()+1)
+
&quot; &quot; +
&apos;15:00:00&apos;
)</expression>
    </formulas>
    <interviewLabel>Strategic Agreement Opportunity Approval Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Strategic Agreement Opportunity Approval Flow</label>
    <loops>
        <name>Loop_Thru_Email_Collection</name>
        <label>Loop Thru Email Collection</label>
        <locationX>461</locationX>
        <locationY>574</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_9_Closed_Won</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Email_Collection_0</name>
        <label>Loop Thru Email Collection</label>
        <locationX>921</locationX>
        <locationY>1411</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_7_Reject_Provider_Operations</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Thru_Email_Collection_0_0_0</name>
        <label>Loop Thru Email Collection</label>
        <locationX>4746</locationX>
        <locationY>2169</locationY>
        <assignNextValueToReference>varLoopGroupEmailText</assignNextValueToReference>
        <collectionReference>varGroupEmailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Alert_Step_5_Reject_Provider_Operations</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_0</name>
        <label>Loop thru Group Members</label>
        <locationX>2698</locationX>
        <locationY>2187</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Eyewear_Leadership_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_5</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Provider_Operations_Group_Step_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_0_0</name>
        <label>Loop thru Group Members</label>
        <locationX>1662</locationX>
        <locationY>1870</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Eyewear_Leadership_Group_Members_Step_6</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_6</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_0_0_0</name>
        <label>Loop thru Group Members</label>
        <locationX>2798</locationX>
        <locationY>1799</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Eyewear_Leadership_Group_Members_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_5_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Optics_Submitter_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_Step_5</name>
        <label>Loop thru Group Members Step 5</label>
        <locationX>3516</locationX>
        <locationY>2181</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Provider_Operations_Group_Members_Step_5</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_5_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Task_Record_for_Opty_Owner_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_Step_7</name>
        <label>Loop thru Group Members Step 7</label>
        <locationX>1395</locationX>
        <locationY>1413</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Provider_Operations_Group_Members_Step_7</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_7</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks_Step_7</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Group_Members_Step_9_Closed_Won</name>
        <label>Loop thru Group Members Step 9 Closed Won</label>
        <locationX>1650</locationX>
        <locationY>576</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Eyewear_Leadership_Group_Members_Step_8_Closed_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Group_Members_Email_Step_9_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Provider_Operations_Group_Step_8_Closed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</name>
        <label>Loop thru Provider Group Members Step 8 Closed Won</label>
        <locationX>1138</locationX>
        <locationY>578</locationY>
        <assignNextValueToReference>varLoopMembers</assignNextValueToReference>
        <collectionReference>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Provider_Group_Members_Email_Step_9_Closed_Won</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Opty_Owner_to_Email_Collection_Step_8_Closed_Won</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reject_Task_Step_1_Opty_Owner</name>
        <label>Create Reject Task - Step 1 Opty Owner</label>
        <locationX>2746</locationX>
        <locationY>884</locationY>
        <connector>
            <targetReference>Email_Alert_Step_1_Reject_Opty_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please work back with your manager if you have any questions.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Opty_Owner_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Reject_Task_Step_8_GBDM</name>
        <label>Create Reject Task - Step 8 GBDM</label>
        <locationX>1776</locationX>
        <locationY>1101</locationY>
        <connector>
            <targetReference>Email_Alert_Step_8_Reject_GBDM</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Todays_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A strategic agreement opportunity you have submitted for approval has been rejected. Please work back with your manager if you have any questions.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GBDM_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Tomorrow_Date_8am</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rejected Strategic Agreement Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>3683</locationX>
        <locationY>1405</locationY>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Opty_Owner</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0</name>
        <label>Create Tasks</label>
        <locationX>4281</locationX>
        <locationY>1760</locationY>
        <connector>
            <targetReference>Email_Alert_Step_4_Reject_Opty_Owner_0</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0_0</name>
        <label>Create Tasks</label>
        <locationX>3256</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Email_Alert_Step_2_Reject_Opty_Owner</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0_0_0</name>
        <label>Create Tasks</label>
        <locationX>4281</locationX>
        <locationY>2168</locationY>
        <connector>
            <targetReference>Email_Alert_Step_5_Reject_Opty_Owner</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_0_0_0_0</name>
        <label>Create Tasks</label>
        <locationX>893</locationX>
        <locationY>1854</locationY>
        <connector>
            <targetReference>Email_Alert_Step_6_Reject_Opty_Owner_0</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks_Step_7</name>
        <label>Create Tasks Step 7</label>
        <locationX>1124</locationX>
        <locationY>1410</locationY>
        <connector>
            <targetReference>Loop_Thru_Email_Collection_0</targetReference>
        </connector>
        <inputReference>varTaskCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>2359</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Global_RVP_Empty</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Global_Business_Development_Manager__c</queriedFields>
        <queriedFields>Optics_Wholesale__c</queriedFields>
        <queriedFields>MDM_Account_Keys__c</queriedFields>
        <queriedFields>MDM_Location_Keys__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approve_Name</name>
        <label>Get Approve Name</label>
        <locationX>2198</locationX>
        <locationY>922</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Approval_Step</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Approver_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group</name>
        <label>Get Eyewear Leadership Group</label>
        <locationX>2293</locationX>
        <locationY>2175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eyewear_Leadership_Group_Members</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eyewear_Leadership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Members</name>
        <label>Get Eyewear Leadership Group Members</label>
        <locationX>2467</locationX>
        <locationY>2176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_0</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eyewear_Leadership_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Members_0</name>
        <label>Get Eyewear Leadership Group Members</label>
        <locationX>2567</locationX>
        <locationY>1788</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_0_0_0</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eyewear_Leadership_Group_Step_5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Members_Step_6</name>
        <label>Get Eyewear Leadership Group Members Step 6</label>
        <locationX>1954</locationX>
        <locationY>1868</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_0_0</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eyewear_Leadership_Group_Step_6.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Members_Step_8_Closed_Won</name>
        <label>Get Eyewear Leadership Group Members Step 8 Closed Won</label>
        <locationX>1818</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_9_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eyewear_Leadership_Group_Step_8_Closed_Won.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Step_5</name>
        <label>Get Eyewear Leadership Group Step 5</label>
        <locationX>2393</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eyewear_Leadership_Group_Members_0</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eyewear_Leadership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Step_6</name>
        <label>Get Eyewear Leadership Group Step 6</label>
        <locationX>2086</locationX>
        <locationY>1861</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eyewear_Leadership_Group_Members_Step_6</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eyewear_Leadership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eyewear_Leadership_Group_Step_8_Closed_Won</name>
        <label>Get Eyewear Leadership Group Step 8 Closed Won</label>
        <locationX>1970</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eyewear_Leadership_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eyewear_Leadership</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Global_RVP_User</name>
        <label>Get Global RVP User</label>
        <locationX>2506</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GBDM_Found</targetReference>
        </connector>
        <filters>
            <field>Gat_Formula_for_Approval_Process__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Account_Info.Global_Business_Development_Manager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_5</name>
        <label>Get Group Members Email Step 5</label>
        <locationX>2905</locationX>
        <locationY>2379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_5_0</name>
        <label>Get Group Members Email Step 5</label>
        <locationX>3694</locationX>
        <locationY>2354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_5_0_0</name>
        <label>Get Group Members Email Step 5</label>
        <locationX>3005</locationX>
        <locationY>1991</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_6</name>
        <label>Get Group Members Email Step 6</label>
        <locationX>1841</locationX>
        <locationY>2016</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_Step6</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_7</name>
        <label>Get Group Members Email Step 7</label>
        <locationX>1519</locationX>
        <locationY>1489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_Step_7</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members_Email_Step_9_Closed_Won</name>
        <label>Get Group Members Email Step 9 Closed Won</label>
        <locationX>1725</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Optics_Submitter</name>
        <label>Get Optics Submitter</label>
        <locationX>2576</locationX>
        <locationY>1390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Optics_Submitter_Found</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpticsSubmitter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Optics_Submitter_0</name>
        <label>Get Optics Submitter</label>
        <locationX>3174</locationX>
        <locationY>1745</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Optics_Submitter_Found_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpticsSubmitter</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Group_Members_Email_Step_9_Closed_Won</name>
        <label>Get Provider Group Members Email Step 9 Closed Won</label>
        <locationX>1193</locationX>
        <locationY>737</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Group_Email_Collection_0_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLoopMembers.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Members_Step_5</name>
        <label>Get Provider Operations Group Members Step 5</label>
        <locationX>3324</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_5</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Operations_Group_Step_5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Members_Step_7</name>
        <label>Get Provider Operations Group Members Step 7</label>
        <locationX>1660</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Group_Members_Step_7</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Operations_Group_Step_7.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</name>
        <label>Get Provider Operations Group Members Step 8 Closed Won</label>
        <locationX>1289</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thru_Provider_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Provider_Operations_Group_Step_8_Closed_Won.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Step_5</name>
        <label>Get Provider Operations Group Step 5</label>
        <locationX>3095</locationX>
        <locationY>2175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Members_Step_5</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Step_7</name>
        <label>Get Provider Operations Group Step 7</label>
        <locationX>1853</locationX>
        <locationY>1405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Members_Step_7</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Operations_Group_Step_8_Closed_Won</name>
        <label>Get Provider Operations Group Step 8 Closed Won</label>
        <locationX>1462</locationX>
        <locationY>578</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Operations_Group_Members_Step_8_Closed_Won</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider_Operations</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Global_RVP_Manager</name>
        <label>Update Opportunity Global RVP Manager</label>
        <locationX>2835</locationX>
        <locationY>544</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Opportunity_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Strategic_AP_Global_RVP_Manager__c</field>
            <value>
                <elementReference>Get_Global_RVP_User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>2193</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Initial_Submitted</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Closed_Won_Text_Template</name>
        <text>{!Opty_URL_Test}

Common Account Name: {!Account_Name}
Opportunity Name: {!Opportunity_Name}
Opportunity Sales Stage: Closed Won</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailEyewear</name>
        <text>New Task
To: Eyewear Leadership
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailOpticsSubmitter</name>
        <text>New Task
To: {!Get_Optics_Submitter.Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep1</name>
        <text>New Task
To: {!Opty_Owner_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please work back with your manager if you have any questions.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep2</name>
        <text>New Task
To: {!Opty_Owner_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep2Manager</name>
        <text>New Task
To: {!Opty_Owner_Manager_Name}
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep4ProviderOperations</name>
        <text>New Task
To: Provider Operations
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <textTemplates>
        <name>RejectEmailStep6Eyewear</name>
        <text>New Task
To: Eyewear Leadership
{!Get_Approve_Name.Name} has assigned you the following new task:

Subject: Rejected Strategic Agreement Opportunity
Opportunity: {!Opportunity_Name}
Due Date: {!Todays_Date}
Priority: Normal
Comments: A strategic agreement opportunity you have submitted for approval has been rejected. Please see approval history comments on the opportunity for more information.

For more details, click the following link:
{!Opty_URL_Test}</text>
    </textTemplates>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Account_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approval_Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GBDM_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GBDM_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opportunity_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opportunity_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Division_Brand</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Manager_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opty_Owner_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StrategicOptyManager1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategicOptyManager2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrategicOptyManager3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopGroupEmailText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLoopMembers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>varLoopUserText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varUserIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
